<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
    <!-- Definición del bean para la consulta de saldos de cuentas -->
    <bean id="consultaSaldos" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaDeSaldos" scope="prototype"
    init-method="init">
		<property name="criterioBoveda" ref="consultaBovedaEfectivo"/>
		<property name="criterioDivisa" ref="consultaDivisas"/>
		<property name="criterioCuenta" ref="consultaCuentaEfectivo"/>
		<property name="consultaSaldosEfectivoService" ref="consultaSaldosEfectivoService" />
		<property name="resultadosPorPagina" value="50"></property>
		
	</bean>       
	
	<!-- Definición del bean para la consulta de Saldos de efectivo -->
	<bean id="consultaCuentaEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaCuentaEfectivo" scope="prototype">		
		<property name="permiteTodos" value="true"/>
		<property name="criterioTipoCuenta" ref="consultaTipoCuenta"></property>
		<property name="criterioTipoNaturaleza" ref="consultaTipoNaturaleza"></property>
		<property name="consultaCuentaService" ref="consultaCuentaService"/>
		<property name="tipoCustodia" value="E" />
	</bean>	        
          
           
    <!-- Definicion del bean para la consulta de bovedas de efectivo -->  
	<bean id="consultaBovedaEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaBoveda" scope="prototype">
		<property name="claveTipoBoveda" value="E"/>
		<property name="permiteTodos" value="true"/>
		<property name="consultaBovedaService" ref="consultaBovedaService"></property>
	</bean>                      
           
	<!-- Definicion del bean para consultar las divisas -->        
    <bean id="consultaDivisas" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaDivisa" scope="prototype">
    	<property name="consultaDivisaService" ref="consultaDivisaService" />
    </bean>
                   
    
    
   
  
           
</beans>           