<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
           
    <bean id="consultaEmisionValoresEstadoCuenta"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaEmision" scope="prototype"
		init-method="init">
		<property name="criterioEmisora" ref="consultaEmisora"></property>
		<property name="criterioTipoValor" ref="consultaTipoValor"></property>
		<property name="consultaEmisionService" ref="consultaEmisionService"></property>
		<property name="criterioSerie" ref="consultaSerie"></property>
		<property name="resultadosPorPagina" value="2"></property>
	</bean>
           
    <bean id="consultaEstadoCuentaPosiciones" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaEstadoCuentaDePosiciones" scope="prototype">
		<property name="criterioBoveda" ref="consultaBovedaValores"/>
		<property name="criterioEmision" ref="consultaEmisionValoresEstadoCuenta"/>
		<property name="criterioCuenta" ref="consultaCuentaValores"/>
		<property name="consultaEstadoCuentaPosicionService" ref="consultaEstadoCuentaService"></property>
		<property name="resultadosPorPagina" value="50"></property>
	</bean>  
	

    
</beans>      