<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	<bean id="consultaTipoInstruccionEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoInstruccion" scope="prototype">
		<property name="consultaTipoInstruccionService" ref="consultaTipoInstruccionService"></property>
		<property name="permiteTodos" value="true"></property>
	</bean>

	<bean id="consultaTipoLiquidacionEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoLiquidacion" scope="prototype">
		<property name="consultaTipoLiquidacionService" ref="consultaTipoLiquidacionService"></property>
		<property name="permiteTodos" value="true"></property>
		
	</bean>

	<bean id="consultaTipoOperacionEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoOperacion" scope="prototype">
		<property name="consultaTipoOperacionService" ref="consultaTipoOperacionService"></property>
		<property name="permiteTodos" value="true"></property>
		<property name="tiposCustodia" value="'A','E'"></property>
	</bean>
	
	<bean id="consultaMovimientosEfectivo" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaMovimientosEfectivo" scope="prototype"
	init-method="init">
		<property name="criterioBoveda" ref="consultaBovedaEfectivo"/>
		<property name="criterioDivisa" ref="consultaDivisas"/>
		<property name="criterioCuenta" ref="consultaCuentaEfectivo"/>
		<property name="criterioTipoInstruccion" ref="consultaTipoInstruccionEfectivo"></property>
		<property name="criterioTipoOperacion" ref="consultaTipoOperacionEfectivo"></property>
		<property name="resultadosPorPagina" value="50"></property>
		<property name="consultaMovimientosService" ref="consultaMovimientosEfectivoService"/>
	</bean>  
	
</beans>
