<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- BOVEDA -->
	<bean id="consultaBovedaValores"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaBoveda" scope="prototype">
		<property name="claveTipoBoveda" value="V" />
		<property name="permiteTodos" value="true" />
		<property name="consultaBovedaService"
			ref="consultaBovedaService">
		</property>
	</bean>
	
	<!-- CUENTA -->
	<bean id="consultaTipoNaturaleza"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoNaturaleza" scope="prototype">
		<property name="listaResultados">
			<map>
				<entry key="P">
					<bean
						class="com.indeval.portaldali.middleware.dto.TipoNaturalezaDTO">
						<property name="id" value="P" />
						<property name="descripcion" value="PASIVO" />
					</bean>
				</entry>

				<entry key="A">
					<bean
						class="com.indeval.portaldali.middleware.dto.TipoNaturalezaDTO">
						<property name="id" value="A" />
						<property name="descripcion" value="ACTIVO" />
					</bean>
				</entry>

			</map>
		</property>
		<property name="opcionSeleccionada">
			<bean
				class="com.indeval.portaldali.middleware.dto.TipoNaturalezaDTO">
				<property name="id" value="P" />
				<property name="descripcion" value="PASIVO" />
			</bean>
		</property>
	</bean>

	<bean id="consultaTipoCuenta"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoDeCuenta" scope="prototype">
		<property name="listaResultados">
			<map>
				<entry key="C">
					<bean
						class="com.indeval.portaldali.middleware.dto.TipoCuentaDTO">
						<property name="id" value="C" />
						<property name="descripcion" value="CONTROLADA" />
					</bean>
				</entry>
				<entry key="N">
					<bean
						class="com.indeval.portaldali.middleware.dto.TipoCuentaDTO">
						<property name="id" value="N" />
						<property name="descripcion" value="NOMBRADA" />
					</bean>
				</entry>
			</map>
		</property>
		<property name="opcionSeleccionada">
			<bean
				class="com.indeval.portaldali.middleware.dto.TipoCuentaDTO">
				<property name="id" value="N" />
				<property name="descripcion" value="NOMBRADA" />
			</bean>
		</property>
	</bean>

	<bean id="consultaTipoTenenciaValores"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoTenencia" scope="prototype"> 
		<property name="tipoCustodia" value="V" />
		<property name="permiteTodos" value="true" />
		<property name="criterioNaturaleza"
			ref="consultaTipoNaturaleza" />
		<property name="criterioTipoCuenta" ref="consultaTipoCuenta" />
		<property name="tipoTenenciaService"
			ref="consultaTipoTenenciaService">
		</property>
	</bean>

	<bean id="consultaCuentaValores"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaCuenta" scope="prototype">

		<property name="permiteTodos" value="true" />
		<property name="criterioTipoTenencia"
			ref="consultaTipoTenenciaValores" />
		<property name="consultaCuentaService"
			ref="consultaCuentaService" />
	</bean>
	
	<!-- EMISION -->
	<bean id="consultaMercado" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaMercado" scope="prototype">
		<property name="consultaMercadoService" ref="consultaMercadoService"/>
		<property name="permiteTodos" value="true"/>
	</bean>
	
	<bean id="consultaSerie" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaSerie" scope="prototype">
		<property name="consultaSerieService" ref="consultaEmisionService"></property>
	</bean>
	
	<bean id="consultaTipoValor" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaTipoValor" scope="prototype">
		<property name ="criterioMercado" ref="consultaMercado"/>
		<property name = "permiteTodos" value="true"/>
		<property name="consultaTipoValorService" ref="consultaTipoValorService"></property>
	</bean>
	
	<bean id="consultaEmisora"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaEmisora" scope="prototype">
		<property name="consultaEmisoraService" ref="consultaEmisoraService"></property>
	</bean>
	
	<bean id="consultaEmisionValores"
		class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaEmision" scope="prototype"
		init-method="init">
		<property name="criterioEmisora" ref="consultaEmisora"></property>
		<property name="criterioTipoValor" ref="consultaTipoValor"></property>
		<property name="consultaEmisionService" ref="consultaEmisionService"></property>
		<property name="criterioSerie" ref="consultaSerie"></property>
	</bean>
	
	<!-- POSICION -->	
	<bean id="consultaPosiciones" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaDePosiciones" scope="prototype">
		<property name="criterioBoveda" ref="consultaBovedaValores"/>
		<property name="criterioCuenta" ref="consultaCuentaValores"/>
		<property name="consultaPosicionService" ref="consultaPosicionService"/>
		<property name="criterioEmision" ref="consultaEmisionValores"></property>
		<property name="resultadosPorPagina" value="50"></property>
		
	</bean>
</beans>