<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	
	<bean id="definicionDVP" class="com.indeval.portaldali.middleware.dto.DefinicionDetalleMovimientoDTO">
		<property name="tipoOperacionPrincipal" value="DVP"></property>
		<property name="rutaPantallaDetalleMovimiento" 
			value="estadocuenta/consultaDetalleMovimientoDvp.faces"></property>
		<property name="anchoPantalla" value="920"></property>
		<property name="altoPantalla" value="600"></property>
	</bean>
	
	<bean id="definicionDoR" class="com.indeval.portaldali.middleware.dto.DefinicionDetalleMovimientoDTO">
		<property name="tipoOperacionPrincipal" value="TLP"></property>
		<property name="rutaPantallaDetalleMovimiento" 
			value="estadocuenta/consultaDetalleMovimientoDoR.faces"></property>
		<property name="anchoPantalla" value="920"></property>
		<property name="altoPantalla" value="450"></property>
	</bean>
	
	<bean id="definicionTLP" class="com.indeval.portaldali.middleware.dto.DefinicionDetalleMovimientoDTO">
		<property name="tipoOperacionPrincipal" value="TLP"></property>
		<property name="rutaPantallaDetalleMovimiento" 
			value="estadocuenta/consultaDetalleMovimientoTlp.faces"></property>
		<property name="anchoPantalla" value="920"></property>
		<property name="altoPantalla" value="450"></property>
	</bean>
	
	<bean id="definicionDVD" class="com.indeval.portaldali.middleware.dto.DefinicionDetalleMovimientoDTO">
		<property name="tipoOperacionPrincipal" value="E/E"></property>
		<property name="rutaPantallaDetalleMovimiento" 
			value="estadocuenta/consultaDetalleMovimientoDvd.faces"></property>
		<property name="anchoPantalla" value="920"></property>
		<property name="altoPantalla" value="600"></property>
	</bean>
	
	<bean id="definicionEfectivo" class="com.indeval.portaldali.middleware.dto.DefinicionDetalleMovimientoDTO">
		<property name="tipoOperacionPrincipal" value="EFE"></property>
		<property name="rutaPantallaDetalleMovimiento" 
			value="estadocuenta/consultaDetalleMovimientoEfectivo.faces"></property>
		<property name="anchoPantalla" value="920"></property>
		<property name="altoPantalla" value="600"></property>
	</bean>
	
	<bean id="definicionDetallesMovimientosHelperValor" class="com.indeval.portaldali.middleware.dto.util.DefinicionDetallesMovimientosHelper">
		<property name="definiciones">
			<map>
				
				<entry key="5" value-ref="definicionDVP"></entry>
				<entry key="24" value-ref="definicionDVP"></entry>
				<entry key="25" value-ref="definicionDVP"></entry>
				<entry key="21" value-ref="definicionDVP"></entry>
				<entry key="22" value-ref="definicionDVP"></entry>
				<entry key="23" value-ref="definicionDVP"></entry>
				<entry key="56" value-ref="definicionDVP"></entry>
				<entry key="7" value-ref="definicionDVP"></entry>
				<entry key="9" value-ref="definicionDVP"></entry>
				<entry key="19" value-ref="definicionTLP"></entry>
				
				<entry key="36" value-ref="definicionDoR"></entry>
				
				
				<entry key="1" value-ref="definicionTLP"></entry>
				<entry key="3" value-ref="definicionTLP"></entry>
				<entry key="11" value-ref="definicionTLP"></entry>
				<entry key="14" value-ref="definicionTLP"></entry>
				<entry key="34" value-ref="definicionTLP"></entry>
				<entry key="35" value-ref="definicionTLP"></entry>
				
				<entry key="37" value-ref="definicionTLP"></entry>
				<entry key="40" value-ref="definicionTLP"></entry>
				<entry key="41" value-ref="definicionTLP"></entry>
				<entry key="42" value-ref="definicionTLP"></entry>
				<entry key="48" value-ref="definicionTLP"></entry>
				<entry key="51" value-ref="definicionTLP"></entry>
				<entry key="38" value-ref="definicionTLP"></entry>
				
				<entry key="43" value-ref="definicionDVD"></entry>
				<entry key="44" value-ref="definicionDVD"></entry>
				<entry key="46" value-ref="definicionDVD"></entry>
				<entry key="47" value-ref="definicionDVD"></entry>
				
				<entry key="26" value-ref="definicionDVP"></entry>
				
				<entry key="4" value-ref="definicionTLP"></entry>
				<entry key="54" value-ref="definicionDVD"></entry>
				<entry key="55" value-ref="definicionTLP"></entry>				
				<entry key="58" value-ref="definicionTLP"></entry>
			</map>
		</property>
	</bean>
	
	<bean id="definicionDetallesMovimientosHelperEfectivo" class="com.indeval.portaldali.middleware.dto.util.DefinicionDetallesMovimientosHelper">
		<property name="definiciones">
			<map>

				<entry key="2" value-ref="definicionEfectivo"></entry>
				<entry key="4" value-ref="definicionEfectivo"></entry>
				<entry key="6" value-ref="definicionEfectivo"></entry>
				<entry key="8" value-ref="definicionEfectivo"></entry>
				<entry key="10" value-ref="definicionEfectivo"></entry>
				<entry key="28" value-ref="definicionEfectivo"></entry>
				<entry key="29" value-ref="definicionEfectivo"></entry>
				<entry key="30" value-ref="definicionEfectivo"></entry>
				<entry key="31" value-ref="definicionEfectivo"></entry>
				<entry key="32" value-ref="definicionEfectivo"></entry>
				<entry key="33" value-ref="definicionEfectivo"></entry>
				<entry key="49" value-ref="definicionEfectivo"></entry>
				<entry key="50" value-ref="definicionEfectivo"></entry>
				<entry key="52" value-ref="definicionEfectivo"></entry>
				
				<entry key="3" value-ref="definicionDVP"></entry>
				<entry key="5" value-ref="definicionEfectivo"></entry>
				<entry key="24" value-ref="definicionDVP"></entry>
				<entry key="25" value-ref="definicionDVP"></entry>
				<entry key="21" value-ref="definicionDVP"></entry>
				<entry key="22" value-ref="definicionDVP"></entry>
				<entry key="23" value-ref="definicionDVP"></entry>
				<entry key="56" value-ref="definicionDVP"></entry>
				<entry key="7" value-ref="definicionDVP"></entry>
				<entry key="9" value-ref="definicionDVP"></entry>
				<entry key="19" value-ref="definicionDVP"></entry>
				
				<entry key="26" value-ref="definicionDVP"></entry>
				
			</map>
		</property>
	</bean>  
    
    <bean name="consultaDetalleMovimientoPosicionService" class="com.indeval.portaldali.middleware.services.estadocuenta.ConsultaDetalleMovimientoPosicionServiceImpl">
    	<property name="detalleMovimientoPosicionDAO" ref="detalleMovimientoPosicionDAO" />
    	<property name="definicionDetallesMovimientosHelper" ref="definicionDetallesMovimientosHelperValor"></property>
    </bean>
    
    <bean id="detalleLiquidacionPaquetes" class="com.indeval.portaldali.presentation.controller.bitacoramatch.DetalleLiquidacionPaquetesBean">
        <property name="liquidacionPaqueteService" ref="liquidacionPaqueteEJB"></property>
        <property name="properties" ref="properties"></property>
    </bean>
    
    <util:properties id="properties" location="classpath:message.properties"/>
    
    <bean id="liquidacionPaqueteEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.liquidacionPaquete!com.indeval.portaldali.middleware.services.liquidacionpaquetes.DetalleLiquidacionPaqService" />
<!--         <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.liquidacionpaquetes.DetalleLiquidacionPaqService"></property>
        <property name="lookupOnStartup" value="false"></property>
    </bean>
    
</beans>