<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
    
    
    <bean id="consultaEstadoCuentaSaldos" class="com.indeval.portaldali.presentation.controller.estadocuenta.modeloconsulta.impl.ConsultaEstadoCuentaDeSaldos" scope="prototype">
		<property name="criterioBoveda" ref="consultaBovedaEfectivo"/>
		<property name="criterioDivisa" ref="consultaDivisas"/>
		<property name="criterioCuenta" ref="consultaCuentaEfectivo"/>
		<property name="consultaEstadoCuentaEfectivoService" ref="consultaEstadoCuentaEfectivoService"></property>
		<property name="resultadosPorPagina" value="50"></property>
	</bean>  
	

  
</beans>           