<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


	<description>
		AplicationContext de configuracion de objetos de acceso a datos
		del modelo Dali
	</description>

	<bean id="dualDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.DualDaliDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="dateUtilsDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.DateUtilsDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<property name="dualDao" ref="dualDao"></property>
	</bean>
	<bean id="secuenciaDaliDao"
		class="com.indeval.portaldali.persistence.dao.util.impl.SecuenciaDaliDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="jdbcTemplateOracle" ref="jdbcTemplate"></property>
		<property name="hibernateDialect" value="${portalDali.hibernate.dialect}"></property>
	</bean>
	<bean id="registroInstruccionesMatch2Dao" class="com.indeval.portaldali.persistence.dao.protocolofinanciero.impl.RegistroInstruccionesMatch2DaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

		
		
	

	<!-- DAOs, en orden alfabetico please -->

	<bean id="cInstrumentoDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.InstrumentoDaliDaoImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="cCuentaNombradaDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.CuentaNombradaDaliDaoImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="cuponDao"
		class="com.indeval.portaldali.persistence.dao.util.impl.CuponDaoImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="diaInhabilDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.DiaInhabilDaliDaoImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="estadoCuentaSocInvDao"
		class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.EstadoCuentaSocInvDAOImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

    <bean id="operacionNombradaDao"
        class="com.indeval.portaldali.persistence.dao.conciliacion.impl.OperacionNombradaDaoImpl"
        lazy-init="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

	<bean id="tPosicionNombradaDao"
		class="com.indeval.portaldali.persistence.dao.common.impl.PosicionNombradaDaliDaoImpl"
		lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="emisionExtranjera">
			<list>
				<value>CPOS</value>
				<value>BCPO</value>
				<value>ADR</value>
				<value>ADCP</value>
				<value>IADC</value>
				<value>BADC</value>
				<value>VIVI</value>
				<value>LIBR</value>
				<value>GADC</value>
			</list>
		</property>
	</bean>

    <bean id="tPosicionControladaDao"
        class="com.indeval.portaldali.persistence.dao.common.impl.PosicionControladaDaliDaoImpl"
        lazy-init="true">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="regContValNombradaDao"
        class="com.indeval.portaldali.persistence.dao.conciliacion.impl.RegContValNombradaDaoImpl"
        lazy-init="true">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>    

	<bean id="fechaDao"
		class="com.indeval.portaldali.persistence.dao.util.impl.FechaDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="fileTransferDao" class="com.indeval.portaldali.persistence.dao.filetransfer.impl.FileTransferDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="fileTransferOperacionesDao" class="com.indeval.portaldali.persistence.dao.filetransfer.impl.FileTransferOperacionesDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="validadorPFIDao" class="com.indeval.portaldali.persistence.dao.protocolofinanciero.impl.ValidadorPFIDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="jdbcTemplateOracle" ref="jdbcTemplate"></property>
	</bean>

	<bean id="saldoNombradaDao" class="com.indeval.portaldali.persistence.dao.common.impl.SaldoNombradaDaliDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	


	<!-- bean id="depositanteValidoBanxicoDao" class="com.indeval.portaldali.persistence.dao.common.impl.DepositanteValidoBanxicoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean -->

</beans>