<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<!-- the transactional semantics... -->
		<tx:attributes>
			<tx:method name="graba*" propagation="SUPPORTS"/>
			<tx:method name="valida*" propagation="SUPPORTS" />
			<tx:method name="retirar*" propagation="SUPPORTS" />
			<tx:method name="traspasar*" propagation="SUPPORTS" />
			<tx:method name="almacena*" propagation="SUPPORTS" />
			<tx:method name="cancela*" propagation="SUPPORTS" />
			<tx:method name="businessRules*" propagation="SUPPORTS" />
			<tx:method name="obtiene*" propagation="SUPPORTS" />
			<tx:method name="obten*" propagation="SUPPORTS" />
			<tx:method name="consultar*" propagation="SUPPORTS" />
			<tx:method name="traspaso*" propagation="SUPPORTS" />
			<tx:method name="buscar*" propagation="SUPPORTS" />
			<tx:method name="getVencimientosPendientes*" propagation="SUPPORTS"/>
			<tx:method name="archivoConciliacion" propagation="SUPPORTS" />
			<tx:method name="confirmaOperacionMatch" propagation="REQUIRED" read-only="false"/>
			<tx:method name="actualizaEstadoInstruccionExpira" propagation="REQUIRED" read-only="false"/>	
            <tx:method name="get*" propagation="NOT_SUPPORTED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	
	<tx:advice id="txAdviceDecretos" transaction-manager="txManager">	
		<tx:attributes>
			<tx:method name="get*" propagation="NOT_SUPPORTED" read-only="true"/>			
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="consultaDecretosPointCut"
			expression="execution(* com.indeval.portaldali.middleware.services.decretos.LiquidacionDecretosDaliService.*(..))" />
		<aop:advisor advice-ref="txAdviceDecretos" pointcut-ref="consultaDecretosPointCut"/>
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="confirmaOperacionMatch"
			expression="execution(* com.indeval.portaldali.middleware.services.enviooperaciones.EnvioOperacionesService.confirmaOperacionMatch(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="confirmaOperacionMatch" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="conciliacionModulosPointCut"
			expression="execution(* com.indeval.portaldali.middleware.services.conciliacionModulos.ConciliacionModulosService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="conciliacionModulosPointCut" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="actualizaEstadoInstruccionExpira"
			expression="execution(* com.indeval.portaldali.middleware.services.enviooperaciones.EnvioOperacionesService.actualizaEstadoInstruccionExpira(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="actualizaEstadoInstruccionExpira" />
	</aop:config>	
	
	<aop:config>
		<aop:pointcut id="consultarInstruccionOperacionValorPorId"
			expression="execution(* com.indeval.portaldali.middleware.services.estatus.ConsultaEstatusOperacionesMatchService.consultarInstruccionOperacionValorPorId(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultarInstruccionOperacionValorPorId" />
	</aop:config>	
    
    <aop:config>
        <aop:pointcut id="consultaEstatusOperacionesPointCut"
            expression="execution(* com.indeval.portaldali.middleware.services.estatus.ConsultaEstatusOperacionesMatchService.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="consultaEstatusOperacionesPointCut" />
    </aop:config>


	<aop:config>
		<aop:pointcut id="consultaMovimientosEfe"
			expression="execution(* com.indeval.portaldali.middleware.services.estadocuenta.ConsultaMovimientosEfectivoService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaMovimientosEfe" />
	</aop:config>
	
	
	<aop:config>
		<aop:pointcut id="consultaEstadoCuentaVal"
			expression="execution(* com.indeval.portaldali.middleware.services.estadocuenta.ConsultaEstadoCuentaPosicionService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaEstadoCuentaVal" />
	</aop:config>	
	
	<aop:config>
		<aop:pointcut id="consultaMovimientosVal"
			expression="execution(* com.indeval.portaldali.middleware.services.estadocuenta.ConsultaMovimientosValorService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaMovimientosVal" />
	</aop:config>
	

	
	<aop:config>
		<aop:pointcut id="consultaEstadoCuentaEfe"
			expression="execution(* com.indeval.portaldali.middleware.services.estadocuenta.ConsultaEstadoCuentaSaldoEfectivoService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaEstadoCuentaEfe" />
	</aop:config>
	
		
	<aop:config>
		<aop:pointcut id="consultaVencimientosPend"
			expression="execution(* com.indeval.portaldali.middleware.services.modelo.CatalogoService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaVencimientosPend" />
	</aop:config>
	
	
	<aop:config>
		<aop:pointcut id="consultaTipoVal"
			expression="execution(* com.indeval.portaldali.middleware.services.common.ConsultaTipoValorService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaTipoVal" />
	</aop:config>
	

	
	<aop:config>
		<aop:pointcut id="consultaDetallMov"
			expression="execution(* com.indeval.portaldali.middleware.services.estadocuenta.ConsultaDetalleMovimientoPosicionService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="consultaDetallMov" />
	</aop:config>
	
	
	<aop:config>
		<aop:pointcut id="validaOperacionFileTransfer"
			expression="execution(* com.indeval.portaldali.middleware.services.filetransfer.FileTransferService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionFileTransfer" />
	</aop:config>
	
	<!--  -->
	<aop:config>
		<aop:pointcut id="archivoConciliacion"
			expression="execution(* com.indeval.portaldali.middleware.services.conciliacion.ConciliacionService.archivoConciliacion(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="archivoConciliacion" />
	</aop:config>
	
	
	
	<aop:config>
		<aop:pointcut id="grabarOperacionPortal"
			expression="execution(* com.indeval.portaldali.middleware.services.enviooperaciones.EnvioOperacionesService.grabaOperacion(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="grabarOperacionPortal" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="validaOperacionDinero"
			expression="execution(* com.indeval.portaldali.middleware.services.mercadodinero.MercadoDineroService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionDinero" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="validaOperacionCapitales"
			expression="execution(* com.indeval.portaldali.middleware.services.mercadocapitales.MercadoCapitalesService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionCapitales" />
	</aop:config>
		
	<aop:config>
		<aop:pointcut id="validaOperacionTesoreria"
			expression="execution(* com.indeval.portaldali.middleware.services.tesoreria.TesoreriaService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionTesoreria" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="validaOperacionCuentasRetiro"
			expression="execution(* com.indeval.portaldali.middleware.services.tesoreria.cuentas.AdministracionCuentasRetiroService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionCuentasRetiro" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="validaOperacionRetiroEfectivo"
			expression="execution(* com.indeval.portaldali.middleware.services.tesoreria.AdmonRetirosEfectivoService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionRetiroEfectivo" />
	</aop:config>
		
	<aop:config>
		<aop:pointcut id="validaOperacionTraspasos"
			expression="execution(* com.indeval.portaldali.middleware.services.movimientosadministrativos.TraspasosAdministrativosService.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="validaOperacionTraspasos" />
	</aop:config>
	

	<bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager">
    	<property name="transactionManagerName" value="java:jboss/TransactionManager"/>
    	 <property name="userTransactionName" value="java:jboss/UserTransaction" />
    	
	</bean>


	<aop:aspectj-autoproxy/>
	
	
</beans>