<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<util:list id="listaEspecialValidacionesReportoNominalMismoDia">
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="TASA_PREMIO_REQUERIDA" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PRECIO_TITULO_REQUERIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
					<!-- Valida que todos los campos requeridos tengan información para la opcion Mismo día (MD).
					@return boolean true si encontró un error o false en caso contrario -->
				<!-- Se elimina id y folio -->
				
				<!-- Se elimina valorEn (Por default esta seleccionado uno) y precio título -->
				<!-- fin  -->

				<!-- Valida que todos los campos requeridos tengan el formato esperado para la opcion Mismo día (MD).
					@return boolean true si encontró un error o false en caso contrario -->
				<!-- Se elimina id y folio -->
				<!--  -->

				<!-- Valida que todos los campos requeridos sean numericos para la opcion Mismo día (MD).
					@return boolean true si encontró un error o false en caso contrario -->
				<!-- Se elimina id y folio -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_PLAZO_REP_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_TASA_PREMIO_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_PRECIO_TITULO_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica si los valores de PlazoRepDias, Tasa Premio, Cantidad Operada y
					Precio por titulo no sean 0 En caso de que sean 0, se coloca el
					correspondiente mensaje de error y se regresa a la pagina de captura  
					@return: true si alguno de los campos es Cero, false si todo esta bien-->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS_MAYOR_IGUAL_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<!-- Se elimina precio título -->
				<!-- fin  -->

				<!-- Verifica que el Precio Título este entre el rango de Precio mínimo
					y el precio máximo especificado por el tipo valor de la Emisión.
					Esta validación se realiza siempre y cuando el Tipo de Operación
					sea diferente de Traspaso y que el Precio máximo sea mayor a cero.
					En caso de ser un Traspaso la única validación que se realiza es
					que el Precio Título sea mayor que cero. -->
				<!-- fin  -->

				<!-- Verifica que el signo de la Tasa Premio solo sea negativo para el tipo de Operación
					REPORTO INDICES CONOCIDOS en cualquier otro caso debe marcar error.  -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="TASA_PREMIO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que la suma de Plazo Rep.(Días) y de Plazo Liquidación (Horas) de un 
					día hábil. -->

				<!-- fin  -->
				
	</util:list>
	
	
	
	
	<util:list id="listaEspecialValidacionesReportoNominalFechaValor">
			<!-- Valida que todos los campos requeridos tengan información para la opcion Fecha Valor (FV).
					@return boolean true si encontró un error o false en caso contrario -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="TASA_PREMIO_REQUERIDA" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PRECIO_TITULO_REQUERIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Valida que todos los campos requeridos sean numericos para la opcion Fecha Valor (FV).
					@return boolean true si encontró un error o false en caso contrario -->
				<!-- Se elimina id y folio -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_PRECIO_TITULO_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica si los valores de PlazoRepDias, Tasa Premio, Cantidad Operada y
					Precio por titulo no sean 0 En caso de que sean 0, se coloca el
					correspondiente mensaje de error y se regresa a la pagina de captura  
					@return: true si alguno de los campos es Cero, false si todo esta bien-->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS_MAYOR_IGUAL_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PRECIO_TITULO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que el Precio Título este entre el rango de Precio mínimo
					y el precio máximo especificado por el tipo valor de la Emisión.
					Esta validación se realiza siempre y cuando el Tipo de Operación
					sea diferente de Traspaso y que el Precio máximo sea mayor a cero.
					En caso de ser un Traspaso la única validación que se realiza es
					que el Precio Título sea mayor que cero. -->
				<!-- fin  -->

				<!-- Verifica que el signo de la Tasa Premio solo sea negativo para el tipo de Operaci&oacute;n
					REPORTO INDICES CONOCIDOS en cualquier otro caso debe marcar error.  -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="TASA_PREMIO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que la suma de Plazo Rep.(Días) y de Plazo Liquidación (Horas) de un 
					día hábil. -->

				<!-- fin  -->
			
	</util:list>
	
	<util:list id="listaEspecialValidacionesReportoNominalFechaValoCompra">
		<!-- Valida que todos los campos requeridos tengan información para la opcion Compra FV.
					@return boolean true si encontró un error o false en caso contrario -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
					<property name="llaveMensaje"
						value="PLAZO_LIQUIDACION" />
					<property name="parametros">
						<map>
							<entry key="campo"
								value="plazoLiquidacionHoras" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="TASA_PREMIO_REQUERIDA" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Valida que todos los campos requeridos sean numericos para la opcion Compra FV.
					@return boolean true si encontró un error o false en caso contrario -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_PLAZO_REP_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_TASA_PREMIO_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica si los valores de PlazoRepDias, Tasa Premio, Cantidad Operada y
					Precio por titulo no sean 0 En caso de que sean 0, se coloca el
					correspondiente mensaje de error y se regresa a la pagina de captura  
					@return: true si alguno de los campos es Cero, false si todo esta bien-->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS_MAYOR_IGUAL_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PRECIO_TITULO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que el Precio Título este entre el rango de Precio mínimo
					y el precio máximo especificado por el tipo valor de la Emisión.
					Esta validación se realiza siempre y cuando el Tipo de Operación
					sea diferente de Traspaso y que el Precio máximo sea mayor a cero.
					En caso de ser un Traspaso la única validación que se realiza es
					que el Precio Título sea mayor que cero. -->
				<!-- fin  -->

				<!-- Verifica que el signo de la Tasa Premio solo sea negativo para el tipo de Operaci&oacute;n
					REPORTO INDICES CONOCIDOS en cualquier otro caso debe marcar error.  -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="TASA_PREMIO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que la suma de Plazo Rep.(Días) y de Plazo Liquidación (Horas) de un 
					día hábil. -->

				<!-- fin  -->
		
	</util:list>
	
	<util:list id="listaEspecialValidacionesReportoNominalMismoDiaCompra">
		<!-- Valida que todos los campos requeridos tengan información para la opcion Compra MD. 
					@return boolean true si encontró un error o false en caso contrario -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
					<property name="llaveMensaje"
						value="TASA_PREMIO_REQUERIDA" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Valida que todos los campos requeridos sean numericos para la opcion Compra MD.
					@return boolean true si encontró un error o false en caso contrario -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_PLAZO_REP_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
					<property name="llaveMensaje"
						value="FORMATO_TASA_PREMIO_INVALIDO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica si los valores de PlazoRepDias, Tasa Premio, Cantidad Operada y
					Precio por titulo no sean 0 En caso de que sean 0, se coloca el
					correspondiente mensaje de error y se regresa a la pagina de captura  
					@return: true si alguno de los campos es Cero, false si todo esta bien-->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PLAZO_REP_DIAS_MAYOR_IGUAL_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="plazoRepDias" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="TASA_PREMIO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="PRECIO_TITULO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="precioTitulo" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que el Precio Título este entre el rango de Precio mínimo
					y el precio máximo especificado por el tipo valor de la Emisión.
					Esta validación se realiza siempre y cuando el Tipo de Operación
					sea diferente de Traspaso y que el Precio máximo sea mayor a cero.
					En caso de ser un Traspaso la única validación que se realiza es
					que el Precio Título sea mayor que cero. -->
				<!-- fin  -->

				<!-- Verifica que el signo de la Tasa Premio solo sea negativo para el tipo de Operaci&oacute;n
					REPORTO INDICES CONOCIDOS en cualquier otro caso debe marcar error.  -->
				<bean
					class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
					<property name="llaveMensaje"
						value="TASA_PREMIO_MAYOR_CERO" />
					<property name="parametros">
						<map>
							<entry key="campo" value="tasaPremio" />
						</map>
					</property>
				</bean>
				<!-- fin  -->

				<!-- Verifica que la suma de Plazo Rep.(Días) y de Plazo Liquidación (Horas) de un 
					día hábil. -->

				<!-- fin  -->
		
	</util:list>
	
	<util:list id="listaValidadoresReportoNominalMismoDia"
		list-class="com.indeval.portaldali.presentation.util.MergeList">
		<ref bean="listaValidacionesComunesCapturaOperacion" />
		<ref bean="listaEspecialValidacionesReportoNominalMismoDia" />
	</util:list>
	
	
	<util:list id="listaValidadoresReportoNominalMismoDiaCompra"
		list-class="com.indeval.portaldali.presentation.util.MergeList">
		<ref bean="listaValidacionesComunesCapturaOperacion" />
		<ref bean="listaEspecialValidacionesReportoNominalMismoDiaCompra" />
	</util:list>
	
	
	<util:list id="listaValidadoresReportoNominalFechaValor"
		list-class="com.indeval.portaldali.presentation.util.MergeList">
		<ref bean="listaValidacionesComunesCapturaOperacion" />
		<ref bean="listaEspecialValidacionesReportoNominalFechaValor" />
	</util:list>
	
	
	<util:list id="listaValidadoresReportoNominalFechaValorCompra"
		list-class="com.indeval.portaldali.presentation.util.MergeList">
		<ref bean="listaValidacionesComunesCapturaOperacion" />
		<ref bean="listaEspecialValidacionesReportoNominalFechaValoCompra" />
	</util:list>
	
	<bean id="validadorCapturaOperacionesReportoNominalOpcionMismoDia"
		parent="validacionesComunesCO">
		
		<property name="criteriosValidacion"  ref="listaValidadoresReportoNominalMismoDia">
          
		</property>
	</bean>

	<bean id="validadorCapturaOperacionesReportoNominalOpcionFechaValor"
		parent="validacionesComunesCO">
		
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalFechaValor">
        
		</property>
	</bean>
	<bean id="validadorCapturaOperacionesReportoNominalOpcionCompraEnFV"
		parent="validacionesComunesCO">
	
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalFechaValorCompra">
          

			
		</property>
	</bean>
	<bean id="validadorCapturaOperacionesReportoNominalOpcionCompraEnMD"
		parent="validacionesComunesCO">
		
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalMismoDiaCompra">
         
				
		</property>
	</bean>
	
	
	
	<bean id="validadorCapturaOperacionesReportoNominalOpcionMismoDiaArchivo"
		parent="validacionesComunesArchivoCO">
		
		<property name="criteriosValidacion"  ref="listaValidadoresReportoNominalMismoDia">
          
		</property>
	</bean>

	<bean id="validadorCapturaOperacionesReportoNominalOpcionFechaValorArchivo"
		parent="validacionesComunesArchivoCO">
		
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalFechaValor">
        
		</property>
	</bean>
	<bean id="validadorCapturaOperacionesReportoNominalOpcionCompraEnFVArchivo"
		parent="validacionesComunesArchivoCO">
	
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalFechaValorCompra">
          

			
		</property>
	</bean>
	<bean id="validadorCapturaOperacionesReportoNominalOpcionCompraEnMDArchivo"
		parent="validacionesComunesArchivoCO">
		
		<property name="criteriosValidacion" ref="listaValidadoresReportoNominalMismoDiaCompra">
         
				
		</property>
	</bean>
</beans>