<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util">


    <util:list id="listaEspecialValidacionesTraspasoMiscelaneaFiscal">

        <!-- Valida que todos los campos requeridos 
            @return boolean true si encontró un error o false en caso contrario -->
        <!-- FECHA ADQUISICION -->
        <!-- PRECIO ADQUISICION -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="PRECIO_ADQUISICION_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="precioAdquisicion" />
                </map>
            </property>
        </bean>
        
        <!-- CLIENTE -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="CLIENTE_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cliente" />
                </map>
            </property>
        </bean>
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionExpresionRegular">
            <property name="llaveMensaje" value="CLIENTE_ALFANUMERICO_PUNTO_ESPACIO" />
            <property name="expresionRegular" value="^[a-zA-Z0-9\s.]+$" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cliente" />
                </map>
            </property>
        </bean>        
        

        <!-- RFC/CURP -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="RFC_CURP_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="rfcCurp" />
                </map>
            </property>
        </bean>
        
        <!-- Valida que todos los campos requeridos tengan el formato esperado 
            @return boolean true si encontró un error o false en caso contrario -->

        <!-- PRECIO ADQUISICION -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
            <property name="llaveMensaje" value="FORMATO_PRECIO_ADQUISICION_INVALIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="precioAdquisicion" />
                </map>
            </property>
        </bean>

        
        <!-- MAYOR A CERO -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
            <property name="llaveMensaje" value="CANTIDAD_OPERADA_MAYOR_CERO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cantidadOperada" />
                </map>
            </property>
        </bean>

        <!-- RFC O CURP 
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionExpresionRegular">
            <property name="llaveMensaje" value="FORMATO_RFC_CURP_INVALIDO"></property>
            <property name="expresionRegular" value="(EXT790101NI4)|	([A-Z]{3}\d{6}[HM][A-Z]{2}[B-DF-HJ-NP-TV-Z]{3}[A-Z0-9][0-9])|(^([A-Z\s]{3})\d{6}([A-Z\w]{3})$)|     ([A-Z]{4}\d{6}[HM][A-Z]{2}[B-DF-HJ-NP-TV-Z]{3}[A-Z0-9][0-9])|(^([A-Z\s]{4})\d{6}([A-Z\w]{3})$)" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="rfcCurp" />
                </map>
            </property>
        </bean>
        -->

    </util:list>



    <util:list id="listaEspecialValidacionesTraspasoMiscelaneaFiscalRecepcion">
        <!-- Valida que todos los campos requeridos 
            @return boolean true si encontró un error o false en caso contrario -->
        <!-- FECHA ADQUISICION -->
        <!-- PRECIO ADQUISICION -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="PRECIO_ADQUISICION_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="precioAdquisicion" />
                </map>
            </property>
        </bean>
		
        
        <!-- CLIENTE -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="CLIENTE_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cliente" />
                </map>
            </property>
        </bean>
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionExpresionRegular">
            <property name="llaveMensaje" value="CLIENTE_ALFANUMERICO_PUNTO_ESPACIO" />
            <property name="expresionRegular" value="^[a-zA-Z0-9\s.]+$" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cliente" />
                </map>
            </property>
        </bean> 

        <!-- RFC/CURP -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoRequerido">
            <property name="llaveMensaje" value="RFC_CURP_REQUERIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="rfcCurp" />
                </map>
            </property>
        </bean>
        
        
        <!-- Valida que todos los campos requeridos tengan el formato esperado 
            @return boolean true si encontró un error o false en caso contrario -->
        <!-- PRECIO ADQUISICION -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
            <property name="llaveMensaje" value="FORMATO_PRECIO_ADQUISICION_INVALIDO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="precioAdquisicion" />
                </map>
            </property>
        </bean>
		
        
        <!-- MAYOR A CERO -->
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
            <property name="llaveMensaje" value="CANTIDAD_OPERADA_MAYOR_CERO" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="cantidadOperada" />
                </map>
            </property>
        </bean>

        <!-- RFC O CURP 
        <bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionExpresionRegular">
            <property name="llaveMensaje" value="FORMATO_RFC_CURP_INVALIDO"></property>
            <property name="expresionRegular" value="(EXT790101NI4)|	([A-Z]{3}\d{6}[HM][A-Z]{2}[B-DF-HJ-NP-TV-Z]{3}[A-Z0-9][0-9])|(^([A-Z\s]{3})\d{6}([A-Z\w]{3})$)|     ([A-Z]{4}\d{6}[HM][A-Z]{2}[B-DF-HJ-NP-TV-Z]{3}[A-Z0-9][0-9])|(^([A-Z\s]{4})\d{6}([A-Z\w]{3})$)" />
            <property name="parametros">
                <map>
                    <entry key="campo" value="rfcCurp" />
                </map>
            </property>
        </bean>-->
    </util:list>

    <util:list id="listaValidadoresTraspasoMiscelaneaFiscal" list-class="com.indeval.portaldali.presentation.util.MergeList">
        <ref bean="listaValidacionesComunesCapturaOperacion" />
        <ref bean="listaEspecialValidacionesTraspasoMiscelaneaFiscal" />
    </util:list>

    <util:list id="listaValidadoresTraspasoMiscelaneaFiscalRecepcion" list-class="com.indeval.portaldali.presentation.util.MergeList">
        <ref bean="listaValidacionesComunesCapturaOperacion" />
        <ref bean="listaEspecialValidacionesTraspasoMiscelaneaFiscalRecepcion" />
    </util:list>

    <bean id="validadorTraspasoMiscelaneaFiscal" parent="validacionesComunesCO">
        <property name="criteriosValidacion" ref="listaValidadoresTraspasoMiscelaneaFiscal" />
    </bean>
    <bean id="validadorTraspasoMiscelaneaFiscalRecepcion" parent="validacionesComunesCO">
        <property name="criteriosValidacion" ref="listaValidadoresTraspasoMiscelaneaFiscalRecepcion" />
    </bean>

</beans>