<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util">


	<util:list id="listaEspecialTraspasosAdministrativosCapturaOperacion">

		<!--bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
			<property name="llaveMensaje" value="DIAS_VIGENTES_REQUERIDO" />
			<property name="parametros">
			<map>
			<entry key="campo" value="diasVigentes" />
			</map>
			</property>
			</bean-->
		<bean
			class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumericoRequerido">
			<property name="llaveMensaje"
				value="CANTIDAD_OPERADA_REQUERIDA" />
			<property name="parametros">
				<map>
					<entry key="campo" value="cantidadOperada" />
				</map>
			</property>
		</bean>
		<!--bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoFechaRequerido">
			<property name="llaveMensaje" value="FECHA_CONCERTACION_REQUERIDA" />
			<property name="parametros">
			<map>
			<entry key="campo" value="fechaConcertacion" />
			</map>
			</property>
			</bean-->
		<!-- fin  -->

		<!-- Valida que todos los campos requeridos tengan el formato esperado 
			@return boolean true si encontró un error o false en caso contrario -->


		<bean
			class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionCampoNumerico">
			<property name="llaveMensaje"
				value="FORMATO_CANTIDAD_OPERADA_INVALIDO" />
			<property name="parametros">
				<map>
					<entry key="campo" value="cantidadOperada" />
				</map>
			</property>
		</bean>
		<!-- fin  -->

		<!-- Verifica el valor Dias Vigentes no sea 0 En caso de que sea 0, se coloca el
			correspondiente mensaje de error y se regresa a la pagina de captura  
			@return: true si alguno de los campos es Cero, false si todo esta bien-->
		<bean
			class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionNumeroNatural">
			<property name="llaveMensaje"
				value="CANTIDAD_OPERADA_MAYOR_CERO" />
			<property name="parametros">
				<map>
					<entry key="campo" value="cantidadOperada" />
				</map>
			</property>
		</bean>
		<!--bean class="com.indeval.portaldali.presentation.validation.impl.CriterioValidacionFechaPosteriorActual">
			<property name="llaveMensaje" value="FECHA_CONCERTACION_MAYOR_IGUAL_HOY" />
			<property name="parametros">
			<map>
			<entry key="campo" value="fechaConcertacion" />
			</map>
			</property>
			</bean-->
	</util:list>


    <util:list id="listaTraspasosAdministrativosCapturaOperacion"
		list-class="com.indeval.portaldali.presentation.util.MergeList">
		<ref bean="listavalidaPosicionYCuentaCapturaOperacion" />
		<ref bean="listaEspecialTraspasosAdministrativosCapturaOperacion" />
	</util:list>


	<bean id="TraspasosAdministrativosCO"
		parent="validaPosicionYCuentaCO">
		
		<property name="criteriosValidacion" ref="listaTraspasosAdministrativosCapturaOperacion">
	
		</property>
	</bean>

	<bean id="TraspasosAdministrativosArchivoCO"
		parent="validaPosicionYCuentaArchivoCO">
		<property name="criteriosValidacion" ref="listaTraspasosAdministrativosCapturaOperacion">
		
		</property>
	</bean>

</beans>