<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Bean para el file transfer de miscelanea fiscal -->
	<bean id="fileTransferMisFisService" class="com.indeval.portaldali.middleware.services.filetransfer.FileTransferMisFisServiceImpl" lazy-init="true">
		<property name="dateUtilsDao" ref="dateUtilsDao" />
		<property name="fileTransferDao" ref="fileTransferDao" />
		<property name="validadorMiscelaneaFiscal" ref="validadorMiscelaneaFiscal" />
		<property name="errorResolver" ref="errorResolver" />
		<property name="parserFileTransfer" ref="parserFileTransfer" />
		<property name="fileTransferMiscelaneaDao" ref="fileTransferMiscelaneaDao" />
		<property name="fileUploadService" ref="fileUploadService" />
	</bean>	

	<!-- Bean para las validaciones de Miscelanea Fiscal -->
	<bean id="validadorMiscelaneaFiscal" class="com.indeval.portaldali.middleware.services.filetransfer.validacion.ValidadorMiscelaneaFiscal">
		<property name="messageResolver" ref="messageResolver" />
		<property name="validacionService" ref="validacionService" />
		<property name="emisionDaliDAO" ref="emisionDAO" />
		<property name="institucionDAO" ref="institucionDAO" />
		<property name="cuentasTraspasanteInvalidasMercadoCapitales">
			<list value-type="java.lang.String">
				<value>0030</value>
				<value>0031</value>
				<value>0056</value>
				<value>0057</value>
				<value>0070</value>
				<value>0081</value>
				<value>54..</value>				
				<value>..98</value>
			</list>
		</property>
	</bean>

	<!-- Bean que define los formatos de file transfer de Miscelanea Fiscal -->
	<bean id="parserFileTransfer" class="com.indeval.portaldali.middleware.services.filetransfer.util.ParserFileTransfer">
		<property name="layouts">
			<map>
				<entry key="FC">
					<bean class="com.indeval.portaldali.middleware.dto.filetransfer.LayoutFileTransferDto">
						<property name="beanClass" value="com.indeval.portaldali.middleware.services.filetransfer.formatos.FormatoMiscelaneaFiscal" />
						<property name="camposLayout">
							<list>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="1" />
									<property name="longitudCampo" value="10" />
									<property name="etiquetaCampo" value="Fecha Registro" />
									<property name="nombreCampo" value="fechaRegistro" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="2" />
									<property name="longitudCampo" value="5" />
									<property name="etiquetaCampo" value="Traspasante" />
									<property name="nombreCampo" value="traspasante" />
									<property name="requerido" value="true"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="3" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cuenta Traspasante" />
									<property name="nombreCampo" value="cuentaTraspasante" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="4" />
									<property name="longitudCampo" value="5" />
									<property name="etiquetaCampo" value="Receptor" />
									<property name="nombreCampo" value="receptor" />
									<property name="requerido" value="true"/>
								</bean>							
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="5" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cuenta Receptor" />
									<property name="nombreCampo" value="cuentaReceptor" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="6" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Tipo Valor" />
									<property name="nombreCampo" value="tipoValor" />
									<property name="requerido" value="true"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="7" />
									<property name="longitudCampo" value="7" />
									<property name="etiquetaCampo" value="Emisora" />
									<property name="nombreCampo" value="emisora" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="8" />
									<property name="longitudCampo" value="6" />
									<property name="etiquetaCampo" value="Serie" />
									<property name="nombreCampo" value="serie" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="9" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cupón" />
									<property name="nombreCampo" value="cupon" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="10" />
									<property name="longitudCampo" value="12" />
									<property name="etiquetaCampo" value="ISIN" />
									<property name="nombreCampo" value="isin" />
									<property name="requerido" value="false"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="11" />
									<property name="longitudCampo" value="18" />
									<property name="etiquetaCampo" value="Bóveda" />
									<property name="nombreCampo" value="boveda" />
									<property name="requerido" value="false"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="12" />
									<property name="longitudCampo" value="14" />
									<property name="etiquetaCampo" value="Cantidad Operada" />
									<property name="nombreCampo" value="cantidadOperada" />
									<property name="requerido" value="true"/>
								</bean>							
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="13" />
									<property name="longitudCampo" value="3" />
									<property name="etiquetaCampo" value="Divisa" />
									<property name="nombreCampo" value="divisa" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="14" />
									<property name="longitudCampo" value="10" />
									<property name="etiquetaCampo" value="Fecha Adquisición" />
									<property name="nombreCampo" value="fechaAdquisicion" />
									<property name="requerido" value="true"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="15" />
									<property name="longitudCampo" value="22" />
									<property name="etiquetaCampo" value="Precio Adquisición" />
									<property name="nombreCampo" value="precioAdquisicion" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="16" />
									<property name="longitudCampo" value="35" />
									<property name="etiquetaCampo" value="Cliente" />
									<property name="nombreCampo" value="cliente" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="17" />
									<property name="longitudCampo" value="18" />
									<property name="etiquetaCampo" value="RFC/CURP" />
									<property name="nombreCampo" value="rfcCurp" />
									<property name="requerido" value="false"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="18" />
									<property name="longitudCampo" value="1" />
									<property name="etiquetaCampo" value="Extranjero" />
									<property name="nombreCampo" value="extranjero" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="19" />
									<property name="longitudCampo" value="16" />
									<property name="etiquetaCampo" value="Fecha Hora Concertación" />
									<property name="nombreCampo" value="fechaHoraCierreOper" />
									<property name="requerido" value="false"/>
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				
				<entry key="FD">
					<bean class="com.indeval.portaldali.middleware.dto.filetransfer.LayoutFileTransferDto">
						<property name="beanClass" value="com.indeval.portaldali.middleware.services.filetransfer.formatos.FormatoMiscelaneaFiscal" />
						<property name="camposLayout">
							<list>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="1" />
									<property name="longitudCampo" value="10" />
									<property name="etiquetaCampo" value="Fecha Registro" />
									<property name="nombreCampo" value="fechaRegistro" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="2" />
									<property name="longitudCampo" value="5" />
									<property name="etiquetaCampo" value="Traspasante" />
									<property name="nombreCampo" value="traspasante" />
									<property name="requerido" value="true"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="3" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cuenta Traspasante" />
									<property name="nombreCampo" value="cuentaTraspasante" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="4" />
									<property name="longitudCampo" value="5" />
									<property name="etiquetaCampo" value="Receptor" />
									<property name="nombreCampo" value="receptor" />
									<property name="requerido" value="true"/>
								</bean>							
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="5" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cuenta Receptor" />
									<property name="nombreCampo" value="cuentaReceptor" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="6" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Tipo Valor" />
									<property name="nombreCampo" value="tipoValor" />
									<property name="requerido" value="true"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="7" />
									<property name="longitudCampo" value="7" />
									<property name="etiquetaCampo" value="Emisora" />
									<property name="nombreCampo" value="emisora" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="8" />
									<property name="longitudCampo" value="6" />
									<property name="etiquetaCampo" value="Serie" />
									<property name="nombreCampo" value="serie" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="9" />
									<property name="longitudCampo" value="4" />
									<property name="etiquetaCampo" value="Cupón" />
									<property name="nombreCampo" value="cupon" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="10" />
									<property name="longitudCampo" value="12" />
									<property name="etiquetaCampo" value="ISIN" />
									<property name="nombreCampo" value="isin" />
									<property name="requerido" value="false"/>
								</bean>					
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="11" />
									<property name="longitudCampo" value="18" />
									<property name="etiquetaCampo" value="Bóveda" />
									<property name="nombreCampo" value="boveda" />
									<property name="requerido" value="false"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="12" />
									<property name="longitudCampo" value="14" />
									<property name="etiquetaCampo" value="Cantidad Operada" />
									<property name="nombreCampo" value="cantidadOperada" />
									<property name="requerido" value="true"/>
								</bean>							
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="13" />
									<property name="longitudCampo" value="3" />
									<property name="etiquetaCampo" value="Divisa" />
									<property name="nombreCampo" value="divisa" />
									<property name="requerido" value="true"/>
								</bean>				
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="14" />
									<property name="longitudCampo" value="22" />
									<property name="etiquetaCampo" value="Precio Adquisición" />
									<property name="nombreCampo" value="precioAdquisicion" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="15" />
									<property name="longitudCampo" value="35" />
									<property name="etiquetaCampo" value="Cliente" />
									<property name="nombreCampo" value="cliente" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="16" />
									<property name="longitudCampo" value="18" />
									<property name="etiquetaCampo" value="RFC/CURP" />
									<property name="nombreCampo" value="rfcCurp" />
									<property name="requerido" value="false"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="17" />
									<property name="longitudCampo" value="1" />
									<property name="etiquetaCampo" value="Extranjero" />
									<property name="nombreCampo" value="extranjero" />
									<property name="requerido" value="true"/>
								</bean>
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="18" />
									<property name="longitudCampo" value="22" />
									<property name="etiquetaCampo" value="Costo Fiscal Actualizado" />
									<property name="nombreCampo" value="costoFiscalActualizado" />
									<property name="requerido" value="true"/>
								</bean>	
								<bean class="com.indeval.portaldali.middleware.dto.filetransfer.CampoRegFileTransDto">
									<property name="numeroCampo" value="19" />
									<property name="longitudCampo" value="16" />
									<property name="etiquetaCampo" value="Fecha Hora Concertación" />
									<property name="nombreCampo" value="fechaHoraCierreOper" />
									<property name="requerido" value="false"/>
								</bean>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
</beans>
