<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">
		
	<bean id="distCacheServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="ejb:commons-sso/commons-sso-ejb//DistCacheService!com.indeval.commons.cache.services.DistCacheService"/>
<!--                 <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
                <property name="proxyInterface" value="com.indeval.commons.cache.services.DistCacheService"></property>
                <property name="lookupOnStartup" value="false"></property>
    </bean>
    

  
 
</beans>