<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Command line suite">
  <test name="Command line test" preserve-order="false">
    <method-selectors>
      <method-selector>
        <selector-class name="org.apache.maven.surefire.testng.utils.GroupMatcherMethodSelector" priority="100"/>
      </method-selector>
    </method-selectors>
    <groups>
      <run>
        <include name="funcionales"/>
      </run>
    </groups>
    <classes>
    
    		<!-- <class name="com.indeval.dali.tests.LoginTest"/>  -->
	     	<class name="com.indeval.dali.tests.mercado.capitales.VentasTest"/>
	     	<!-- <class name="com.indeval.dali.tests.mercado.capitales.TraspasoMiscelaneaFiscalTest"/>
	     	<class name="com.indeval.dali.tests.mercado.capitales.TraspasoLibrePagoTest"/>
	     	<class name="com.indeval.dali.tests.mercado.dinero.TraspasoLibrePagoTest"/> -->
    </classes>
  </test>
</suite>