<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="tipoInstruccionDAO" class="com.indeval.portaldali.persistence.dao.common.impl.TipoInstruccionDaliDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="nombresIntruccionEfectivo">
			<list value-type="java.lang.String">
				<value type="java.lang.String">AMRT</value>
				<value type="java.lang.String">CALL</value>
				<value type="java.lang.String">INTR</value>
				<value type="java.lang.String">DIVE</value>
				<value type="java.lang.String">DEFV</value>
				<value type="java.lang.String">ECPX</value>
				<value type="java.lang.String">RCPX</value>
				<value type="java.lang.String">REFV</value>
				<value type="java.lang.String">TREX</value>
				<value type="java.lang.String">VPFV</value>
				<value type="java.lang.String">EPFV</value>
				<value type="java.lang.String">ESCI</value>
				<value type="java.lang.String">FUSN</value>
				<value type="java.lang.String">REMA</value>
				<value type="java.lang.String">SUSC</value>
				<value type="java.lang.String">SUSX</value>
				<value type="java.lang.String">TCEC</value>
				<value type="java.lang.String">PAGC</value>
				<value type="java.lang.String">RETE</value>
				<value type="java.lang.String">TREF</value>
				<value type="java.lang.String">DEPE</value>
				<value type="java.lang.String">PLFD</value>
				<value type="java.lang.String">RDPE</value>
				<value type="java.lang.String">VREP</value>
				<value type="java.lang.String">RSPP</value>
				<value type="java.lang.String">RSPN</value>
				<value type="java.lang.String">REPO</value>
				<value type="java.lang.String">REEF</value>
				<value type="java.lang.String">DVPC</value>
				<value type="java.lang.String">COVE</value>
				<value type="java.lang.String">CORE</value>
				<value type="java.lang.String">DIST</value>
				<value type="java.lang.String">RECU</value>
				<value type="java.lang.String">DIVA</value>
				<value type="java.lang.String">LIQP</value>
			</list>
		</property>
		<property name="nombresIntruccionValores">
			<list value-type="java.lang.String">
				<value type="java.lang.String">DEPO</value>
				<value type="java.lang.String">RETV, WITH</value>
				<value type="java.lang.String">FVFV</value>
				<value type="java.lang.String">ELPX</value>
				<value type="java.lang.String">TLPF</value>
				<value type="java.lang.String">TRBX</value>
				<value type="java.lang.String">VPFV</value>
				<value type="java.lang.String">AMRT</value>
				<value type="java.lang.String">CALL</value>
				<value type="java.lang.String">CORT</value>
				<value type="java.lang.String">CANJ</value>
				<value type="java.lang.String">DIVA</value>
				<value type="java.lang.String">EPFV</value>
				<value type="java.lang.String">ESCI</value>
				<value type="java.lang.String">FUSN</value>
				<value type="java.lang.String">REST</value>
				<value type="java.lang.String">REMA</value>
				<value type="java.lang.String">SPLT</value>
				<value type="java.lang.String">SUSC</value>
				<value type="java.lang.String">SUSX</value>
				<value type="java.lang.String">DVPC</value>
				<value type="java.lang.String">REPO</value>
				<value type="java.lang.String">RSPP</value>
				<value type="java.lang.String">RSPN</value>
				<value type="java.lang.String">VREP</value>
				<value type="java.lang.String">COVE</value>
				<value type="java.lang.String">CORE</value>
				<value type="java.lang.String">TLPI</value>
				<value type="java.lang.String">RSPL</value>
				<value type="java.lang.String">TLPF</value>
				<value type="java.lang.String">TLAT</value>
				<value type="java.lang.String">TLAR</value>
				<value type="java.lang.String">TRAA</value>
				<value type="java.lang.String">ECPX</value>
				<value type="java.lang.String">RCPX</value>
				<value type="java.lang.String">RECX</value>
				<value type="java.lang.String">RLPX</value>
				<value type="java.lang.String">CONV</value>
				<value type="java.lang.String">DIVA</value>
				<value type="java.lang.String">EVEX</value>
				<value type="java.lang.String">RVEX</value>
				<value type="java.lang.String">LIQP</value>
				<value type="java.lang.String">BREM</value>
			</list>
		</property>
	</bean>
	
		<bean id="tipoLiquidacionDAO" class="com.indeval.portaldali.persistence.dao.common.impl.TipoLiquidacionDaliDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="nombresLiquidacionEfectivo">
			<list value-type="java.lang.String">
				<value type="java.lang.String">DALI</value>
				<value type="java.lang.String">SPEI</value>
				<value type="java.lang.String">REGISTRO</value>				
			</list>
		</property>
	</bean>
	
	<bean id="tipoOperacionDAO" class="com.indeval.portaldali.persistence.dao.common.impl.TipoOperacionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="movimientosValorDAOV2" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.MovimientosValorDAOV2Impl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
    <bean id="saldoV2DAO" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.SaldoDAOV2Impl" >
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
     <bean id="saldoNombradaDao" class="com.indeval.portaldali.persistence.dao.common.impl.SaldoNombradaDaliDaoImpl" >
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    
	<bean id="posicionDAO" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.PosicionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="movimientosEfectivoDAOV2" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.MovimientosEfectivoDAOV2Impl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="dateUtilsDao" ref="dateUtilsDao"/>
	</bean>	
	
    <bean id="detalleMovimientoEfectivoDAO" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.DetalleMovimientoEfectivoDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>       
           

	
	<bean id="consultaEstadoCuentaEfectivoDAOV2" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.EstadoCuentaSaldosEfectivoDAOV2Impl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>       
	
	
	
	<bean id="estadoCuentaPosicionDAOV2" class="com.indeval.portaldali.persistence.dao.estadocuenta.impl.EstadoCuentaPosicionDAOV2Impl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
</beans>
