<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="estatusOperacionesMatchDAO" class="com.indeval.portaldali.persistence.dao.estatus.impl.EstatusOperacionesMatchDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="dateUtilsDao" ref="dateUtilsDao"/>
		<property name="mapeoOperacionInstruccion">
			<map>
				<entry key="VC">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="3"></property>
						<property name="nombreCorto" value="DVPC"></property>
						<property name="descripcion" value="TRASPASOS CONTRA PAGO DVP CUSTODIOS (ACTUALMENTE TVLE)"></property>
					</bean>
				</entry>
				<entry key="R">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="22"></property>
						<property name="nombreCorto" value="REPO"></property>
						<property name="descripcion" value="INICIOS DE REPORTO PARA VALORES NACIONALES REPORTABLES"></property>
					</bean>
				</entry>
				<entry key="P">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="23"></property>
						<property name="nombreCorto" value="RSPP"></property>
						<property name="descripcion" value="INICIOS Y RECUPERACIONES DE REPORTOS INTRADíA CON BANXICO CON LIQUIDACIóN DE EFECTIVO EN INDEVAL"></property>
					</bean>
				</entry>
				<entry key="N">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="56"></property>
						<property name="nombreCorto" value="RSPN"></property>
						<property name="descripcion" value="INICIOS Y RECUPERACIONES DE REPORTOS INTRADíA CON BANXICO CON LIQUIDACIóN DE EFECTIVO EN INDEVAL NO COMPENSABLE"></property>
					</bean>
				</entry>
				<entry key="X">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="24"></property>
						<property name="nombreCorto" value="VREP"></property>
						<property name="descripcion" value="VENCIMIENTOS DE REPORTO"></property>
					</bean>
				</entry>
				<entry key="V">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="25"></property>
						<property name="nombreCorto" value="COVE"></property>
						<property name="descripcion" value="COMPRAVENTA DE VALORES NACIONALES"></property>
					</bean>
				</entry>
				<entry key="J">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="26"></property>
						<property name="nombreCorto" value="CORE"></property>
						<property name="descripcion" value="SUBASTA PRIMARIA DE VALORES NACIONALES DE DEUDA O RECOMPRA DE VALORES NACIONALES DE DEUDA"></property>
					</bean>
				</entry>
				<entry key="T">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="35"></property>
						<property name="nombreCorto" value="TLPI"></property>
						<property name="descripcion" value="TRASPASOS LIBRES DE PAGO (TRASPASOS DE CETES ESPECIALES, TLP DE MERCADO DE DINERO, TLP DE MERCADO DE CAPITALES, TRASPASOS DE GARANTêAS DE SAGA-PL)"></property>
					</bean>
				</entry>
				<entry key="L">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="36"></property>
						<property name="nombreCorto" value="RSPL"></property>
						<property name="descripcion" value="COMPRAVENTA DE VALORES NACIONALES"></property>
					</bean>
				</entry>
				<entry key="M">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="38"></property>
						<property name="nombreCorto" value="TLPF"></property>
						<property name="descripcion" value="COMPRAVENTA DE VALORES NACIONALES"></property>
					</bean>
				</entry>
				<entry key="H">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="39"></property>
						<property name="nombreCorto" value="TLAT"></property>
						<property name="descripcion" value="TRASPASO DE VALORES DESPUÉS DE LA FASE OPERATIVA DE INDEVAL"></property>
					</bean>
				</entry>
				<entry key="Z">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="40"></property>
						<property name="nombreCorto" value="TLAR"></property>
						<property name="descripcion" value="TRASPASO LIBRE DE PAGO POR APERTURA DE SISTEMAS CON CARGO AL RECEPTOR"></property>
					</bean>
				</entry>
				<entry key="K">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="41"></property>
						<property name="nombreCorto" value="TRAA"></property>
						<property name="descripcion" value="TRASPASOS INSTRUIDOS POR PERSONAL DE INDEVAL"></property>
					</bean>
				</entry>
				<entry key="B">
					<bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
						<property name="idTipoInstruccion" value="58"></property>
						<property name="nombreCorto" value="BREM"></property>
						<property name="descripcion" value="TRASPASOS LIBRES DE PAGO (TRASPASOS DE BREMS, TRASPASOS DE GARANTÍAS DE SAGA-PL)"></property>
					</bean>
				</entry>
                <entry key="W">
                    <bean class="com.indeval.portaldali.middleware.dto.TipoInstruccionDTO">
                        <property name="idTipoInstruccion" value="53"></property>
                        <property name="nombreCorto" value="TGAR"></property>
                        <property name="descripcion" value="TRASPASO LIBRE DE PAGO DE GARANTÍAS (SWAPS EN DÓLARES, ETC)"></property>
                    </bean>
                </entry>
			</map>
		</property>
	</bean>
	
	<bean id="bitacoraReenvioConfLiqReteDAO" class="com.indeval.portaldali.persistence.dao.common.impl.BitacoraReenvioConfLiqReteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="consultaInstruccionesEfectivoDAO" class="com.indeval.portaldali.persistence.dao.estatus.impl.ConsultaInstruccionesEfectivoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="dateUtilsDao" ref="dateUtilsDao"/>
	</bean>
	
	<!-- Dao para consulta de bitacora de pagos referenciados -->
	<bean id="pagoReferenciadoDao" class="com.indeval.portaldali.persistence.dao.pagosReferenciados.impl.PagoReferenciadoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Dao para la validacion de institucion-perfil/emision -->
	<bean id="rInstitucionPerfilEmisionDao" class="com.indeval.portaldali.persistence.dao.util.impl.RInstitucionPerfilEmisionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>