<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
      version="3.0">
 <context-param>
  <param-name>com.sun.faces.validateXml</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/tomahawk.taglib.xml</param-value>
	</context-param> -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath:data-source-dali-context.xml
			classpath:persistence-dali-dao-context.xml
			classpath:applicationContext-dali-external-services.xml
			classpath:applicationContext-dali-services.xml					
			classpath:applicationContext-sign.xml	
			/WEB-INF/classes/conf/applicationContext*.xml
			/WEB-INF/classes/conf/validacion/applicationContext*.xml
			/WEB-INF/classes/conf/servicios/applicationContext*.xml
			/WEB-INF/classes/conf/consulta/applicationContext*.xml</param-value>
 </context-param>
 <!-- Special Debug Output for Development -->
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Production</param-value>
</context-param>
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml,
  			/WEB-INF/faces-config-estadocuenta.xml,
			/WEB-INF/faces-config-reportes.xml,
			/WEB-INF/faces-config-converter.xml,
			/WEB-INF/descriptors/jsf/aperturaDeSistema.xml,
			/WEB-INF/descriptors/jsf/traspasosAdministrativos.xml,
			/WEB-INF/descriptors/jsf/retiroFondosCtrl.xml,
			/WEB-INF/descriptors/jsf/fondeoCtaPropia.xml,
			/WEB-INF/descriptors/jsf/colocacionPrimaria.xml,
			/WEB-INF/descriptors/jsf/traspasosEfecCtasControl.xml,
			/WEB-INF/descriptors/jsf/venta.xml,
			/WEB-INF/descriptors/jsf/traspasoLibrePago.xml,
			/WEB-INF/descriptors/jsf/fileTransferTraspaso.xml,
			/WEB-INF/descriptors/jsf/reportoNominal.xml,
			/WEB-INF/descriptors/jsf/traspasoMiscelaneaFiscal.xml,
			/WEB-INF/descriptors/jsf/consultaVencimientosPendientes.xml,
			/WEB-INF/descriptors/jsf/archivoConciliacion.xml,
			/WEB-INF/descriptors/jsf/traspasoLibrePagoCapitales.xml,
			/WEB-INF/descriptors/jsf/ventaCapitales.xml,
			/WEB-INF/descriptors/jsf/consultaBitacoraEnvOp.xml,
			/WEB-INF/descriptors/jsf/estadoCuentaSocInv.xml,
			/WEB-INF/descriptors/jsf/depositoDivisa.xml,
			/WEB-INF/descriptors/jsf/mensajePortal.xml,
			/WEB-INF/descriptors/jsf/consultaEmisiones.xml,
			/WEB-INF/descriptors/jsf/consultaMiscelaneaFiscal.xml,
			/WEB-INF/descriptors/jsf/retiroFondosIntCtrl.xml,
			/WEB-INF/descriptors/jsf/pagosReferenciados.xml,
			/WEB-INF/descriptors/jsf/conciliacionModulos.xml,
			/WEB-INF/descriptors/jsf/vencimientoReportos.xml,
			/WEB-INF/descriptors/jsf/tareas.xml
		</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <!-- if you want to disable the behaviour completely -->
 <context-param>
  <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- if you are using myfaces + facelets don't forget to do this -->
 <context-param>
  <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- <distributable/> -->
 <context-param>
  <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.SKIN</param-name>
  <param-value>blueSky</param-value>
 </context-param>
 <!-- Filtro de rich faces -->
 <filter>
  <display-name>RichFaces Filter</display-name>
  <filter-name>richfaces</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
 </filter>
 <!-- Filtro de Apache que define el tamaño maximo de los archivos que se pueden subir por la aplicacion -->
 <filter>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  <init-param>
   <param-name>maxFileSize</param-name>
   <param-value>20m</param-value>
  </init-param>
 </filter>
 <!-- Trim Filter -->
 <filter>
  <filter-name>trimFilter</filter-name>
  <filter-class>com.indeval.portaldali.presentation.filter.TrimFilter</filter-class>
  <init-param>
   <param-name>contentTypes</param-name>
   <param-value>text/plain, text/plain;charset=UTF-8</param-value>
  </init-param>
 </filter>
 <!-- Filtro de seguridad  -->
 <filter>
  <display-name>Seguridad Filter</display-name>
  <filter-name>seguridad</filter-name>
  <filter-class>com.bursatec.seguridad.presentation.filter.SeguridadFilter</filter-class>
  <init-param>
   <param-name>TIEMPO_RENOVACION_TICKET</param-name>
   <param-value>5</param-value>
  </init-param>
 </filter>
 <!-- Filtro Cross-Site Scripting -->
 <filter>
  <filter-name>XSSFilter</filter-name>
  <filter-class>com.indeval.portaldali.presentation.filter.XSSFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>seguridad</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>richfaces</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>trimFilter</filter-name>
  <url-pattern>*.faces</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>XSSFilter</filter-name>
  <servlet-name>*</servlet-name>
 </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 <session-config>
  		<session-timeout>30</session-timeout>
  		<cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>            
        </cookie-config>
 </session-config>

 <welcome-file-list>
  	<welcome-file>/index.faces</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>500</error-code>
  <location>/errorGeneral.jsp</location>
 </error-page>
 
<!--  <error-page> -->
<!--     <exception-type>java.lang.Exception</exception-type> -->
<!--     <location>/errorGeneral.jsp</location> -->
<!-- </error-page> -->

<!--  <error-page> -->
<!--     <exception-type>java.lang.RuntimeException</exception-type> -->
<!--     <location>/errorGeneral.jsp</location> -->
<!-- </error-page> -->
 
 <security-constraint>
  <display-name>web</display-name>
  <web-resource-collection>
   <web-resource-name>pages</web-resource-name>

   
   		<url-pattern>/*</url-pattern>

   		<http-method>PUT</http-method>
        <http-method>DELETE</http-method>
        <http-method>GET</http-method>
        <http-method>POST</http-method>  
  </web-resource-collection>
  <auth-constraint>
   <role-name>DEFAULT</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <display-name>public-web</display-name>
  <web-resource-collection>
   <web-resource-name>public-pages</web-resource-name>
   	   
	   <url-pattern>/faces/*</url-pattern>
	   <url-pattern>/javax.faces.resource/*</url-pattern>
	   <url-pattern>/resources/*</url-pattern>
	   <url-pattern>/js/login.js</url-pattern>
	   <url-pattern>/js/common.js</url-pattern>	      
	   <url-pattern>/js/mostrarFirmaDigitalLogin.js</url-pattern>
	   <url-pattern>/js/mostrarFirmaDigital.js</url-pattern>
	   <url-pattern>/js/jquery.js</url-pattern>
	   <url-pattern>/js/jsrsasign-all-min.js</url-pattern>
	   <url-pattern>/js/forge.min.js</url-pattern>
	   <url-pattern>/js/firma_ticket.js</url-pattern>
	   <url-pattern>/js/firma.js</url-pattern>
	   <url-pattern>/js/base64.js</url-pattern>	   
	   <url-pattern>/js/jquery/*</url-pattern>
	   <url-pattern>/js/jquery/css/*</url-pattern>
	   <url-pattern>/js/jquery/css/images/*</url-pattern>
	   <url-pattern>/js/jquery/js/*</url-pattern>   
	   <url-pattern>/imgs_login/*</url-pattern>
	   <url-pattern>/images/*</url-pattern>	   
	   <url-pattern>/css/login.css</url-pattern>
	   <url-pattern>/css/dali.css</url-pattern>
	   <url-pattern>/a4j/*</url-pattern>
	   <url-pattern>/org.richfaces.resources/*</url-pattern>

   	   <url-pattern>/layoutLogin.xhtml</url-pattern>
	   <url-pattern>/login.xhtml</url-pattern>   	   
	   <url-pattern>/login.faces</url-pattern>
	   <url-pattern>/changePassword.xhtml</url-pattern>
	   <url-pattern>/changePassword.faces</url-pattern>
	   
	   <url-pattern>/css/firma.css</url-pattern>
	   <url-pattern>/css/daliHeadFirma.css</url-pattern>
	   
	   <url-pattern>/firmaDigitalLogin.xhtml</url-pattern>
	   <url-pattern>/firmaDigitalLogin.faces</url-pattern>
	   
	   <url-pattern>/firma_ticket.html</url-pattern>
	   <url-pattern>/firma_ticket.faces</url-pattern>
	   
	   <url-pattern>/errorGeneral.jsp</url-pattern>
	         
  		<http-method>PUT</http-method>
        <http-method>DELETE</http-method>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
  </web-resource-collection>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/login.faces</form-login-page>
   <form-error-page>/invalid.faces</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <role-name>DEFAULT</role-name>
 </security-role>
</web-app>