<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">	

	<jee:jndi-lookup id="decretosEjercicioDerechos"
		jndi-name="ejb:consulta-decretos/consulta-decretos-ejb/DecretosBean!com.indeval.sidv.decretos.persistence.model.vo.LiquidacionDecretosService"
		proxy-interface="com.indeval.sidv.decretos.persistence.model.vo.LiquidacionDecretosService"></jee:jndi-lookup>
	
	<bean id="liquidacionDecretosDaliService" lazy-init="true"
		class="com.indeval.portaldali.middleware.services.decretos.LiquidacionDecretosDaliServiceImpl">
		<property name="liquidacionDecretosService" ref="decretosEjercicioDerechos" />
	</bean>

		
		<bean id="morEJBServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
	        <property name="jndiName" value="ejb:mor-ear/mor-ejb//MorBean!com.indeval.mor.service.MorExposedService" />	
	        
	        <property name="proxyInterface" value="com.indeval.mor.service.MorExposedService"/>
	        <property name="lookupOnStartup" value="false" />           
	    </bean>	    	    
	 
	 	<bean id="morEJBService" lazy-init="true"
			class="com.indeval.portaldali.middleware.services.mor.MorEJBServiceImpl">
			<property name="morExposedService" ref="morEJBServiceEJB"/>
	</bean>	

	<jee:jndi-lookup id="ejbSpeiOperaciones"
		jndi-name="ejb:speiFacade-ear/speiFacade-stateless/Operaciones!com.indeval.spei.interfaces.Operaciones"
		proxy-interface="com.indeval.spei.interfaces.Operaciones" lookup-on-startup="false">
	</jee:jndi-lookup>

</beans>
