<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">	

	<import resource="com/indeval/portaldali/common/applicationContext-catalogos-services.xml"/>
	
	<import resource="com/indeval/portaldali/conf/applicationContext-transactions-services.xml"/>
	
	<import resource="com/indeval/portaldali/estadocuenta/applicationContext-estadocuenta-services.xml"/>
	
	
	<import resource="com/indeval/portaldali/estatus/applicationContext-operaciones.xml"/>	

	<import resource="com/indeval/portaldali/filetransfer/applicationContext-filetransfer-services.xml"/>
	
	<import resource="com/indeval/portaldali/reportos/applicationContext-reportos.xml"/>
	
	<import resource="com/indeval/portaldali/tareas/applicationContext-tareas.xml"/>
	
	<import resource="com/indeval/portaldali/efectivo/applicationContext-efectivo.xml"/>
</beans>