<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="reportosDAO" 
		class="com.indeval.portaldali.persistence.dao.vencimientoreportos.ReportosDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="dateUtilsDao" ref="dateUtilsDao"/>	
	</bean>
	
	<bean id="vencimientoAnticipadoDAO" 
		class="com.indeval.portaldali.persistence.dao.vencimientoreportos.VencimientoAnticipadoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="instruccionOperacionValDAO"
		class="com.indeval.portaldali.persistence.dao.vencimientoreportos.InstruccionOperacionValDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
