
.contenedorGeneral {
	position: absolute;
	width: 900px;
	font: 9px Arial, Helvetica, sans-serif;
}

.contenedor {
	position: relative;
	width: 900px;
	font: 9px Arial, Helvetica, sans-serif;
}

.panelCriterios {
	height: 400px;
	font: 9px Arial, Helvetica, sans-serif;
}

.tituloCriteriosConsulta {
	height: 24px;
	background-image: url(../images/fondoTituloCriterios.png);
}

#barraTitulo {
	background-image: url(../images/fondo_titulo.png);
	height: 30px;
}

#contenido {
	z-index: 0;
}

.divResumenConsulta {
	background-color: #FFFFFF;
	width: 900px;
}

.divCriteriosConsulta {
	width: 900px;
	z-index: 99;
}

div#controles_cuenta img {
	height: 16px;
	width: 16px;
	border-width: 0;
	background: top left no-repeat;
}

div#controles_cuenta a#control_cuenta_primero img {
	background-image: url(../images/control_primero.png);
}

div#controles_cuenta a#control_cuenta_primero:hover img {
	background-image: url(../images/control_primero_over.png);
}

div#controles_cuenta a#control_cuenta_atras_fast img {
	background-image: url(../images/control_atras_fast.png);
}

div#controles_cuenta a#control_cuenta_atras_fast:hover img {
	background-image: url(../images/control_atras_fast_over.png);
}

div#controles_cuenta a#control_cuenta_atras img {
	background-image: url(../images/control_atras.png);
}

div#controles_cuenta a#control_cuenta_atras:hover img {
	background-image: url(../images/control_atras_over.png);
}

div#controles_cuenta a#control_cuenta_adelante img {
	background-image: url(../images/control_adelante.png);
}

div#controles_cuenta a#control_cuenta_adelante:hover img {
	background-image: url(../images/control_adelante_over.png);
}

div#controles_cuenta a#control_cuenta_adelante_fast img {
	background-image: url(../images/control_adelante_fast.png);
}

div#controles_cuenta a#control_cuenta_adelante_fast:hover img {
	background-image: url(../images/control_adelante_fast_over.png);
}

div#controles_cuenta a#control_cuenta_ultimo img {
	background-image: url(../images/control_ultimo.png);
}

div#controles_cuenta a#control_cuenta_ultimo:hover img {
	background-image: url(../images/control_ultimo_over.png);
}

div#controles_cuenta a#control_cuenta_todos img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos.png);
}

div#controles_cuenta a#control_cuenta_todos:hover img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos_over.png);
}

div#controles_emision img {
	height: 16px;
	width: 16px;
	border-width: 0;
	background: top left no-repeat;
}

div#controles_emision a#control_emision_primero img {
	background-image: url(../images/control_primero.png);
}

div#controles_emision a#control_emision_primero:hover img {
	background-image: url(../images/control_primero_over.png);
}

div#controles_emision a#control_emision_atras_fast img {
	background-image: url(../images/control_atras_fast.png);
}

div#controles_emision a#control_emision_atras_fast:hover img {
	background-image: url(../images/control_atras_fast_over.png);
}

div#controles_emision a#control_emision_atras img {
	background-image: url(../images/control_atras.png);
}

div#controles_emision a#control_emision_atras:hover img {
	background-image: url(../images/control_atras_over.png);
}

div#controles_emision a#control_emision_adelante img {
	background-image: url(../images/control_adelante.png);
}

div#controles_emision a#control_emision_adelante:hover img {
	background-image: url(../images/control_adelante_over.png);
}

div#controles_emision a#control_emision_adelante_fast img {
	background-image: url(../images/control_adelante_fast.png);
}

div#controles_emision a#control_emision_adelante_fast:hover img {
	background-image: url(../images/control_adelante_fast_over.png);
}

div#controles_emision a#control_emision_ultimo img {
	background-image: url(../images/control_ultimo.png);
}

div#controles_emision a#control_emision_ultimo:hover img {
	background-image: url(../images/control_ultimo_over.png);
}

div#controles_emision a#control_emision_todos img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos.png);
}

div#controles_emision a#control_emision_todos:hover img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos_over.png);
}

div#controles_boveda img {
	height: 16px;
	width: 16px;
	border-width: 0;
	background: top left no-repeat;
}

div#controles_boveda a#control_boveda_primero img {
	background-image: url(../images/control_primero.png);
}

div#controles_boveda a#control_boveda_primero:hover img {
	background-image: url(../images/control_primero_over.png);
}

div#controles_boveda a#control_boveda_atras_fast img {
	background-image: url(../images/control_atras_fast.png);
}

div#controles_boveda a#control_boveda_atras_fast:hover img {
	background-image: url(../images/control_atras_fast_over.png);
}

div#controles_boveda a#control_boveda_atras img {
	background-image: url(../images/control_atras.png);
}

div#controles_boveda a#control_boveda_atras:hover img {
	background-image: url(../images/control_atras_over.png);
}

div#controles_boveda a#control_boveda_adelante img {
	background-image: url(../images/control_adelante.png);
}

div#controles_boveda a#control_boveda_adelante:hover img {
	background-image: url(../images/control_adelante_over.png);
}

div#controles_boveda a#control_boveda_adelante_fast img {
	background-image: url(../images/control_adelante_fast.png);
}

div#controles_boveda a#control_boveda_adelante_fast:hover img {
	background-image: url(../images/control_adelante_fast_over.png);
}

div#controles_boveda a#control_boveda_ultimo img {
	background-image: url(../images/control_ultimo.png);
}

div#controles_boveda a#control_boveda_ultimo:hover img {
	background-image: url(../images/control_ultimo_over.png);
}

a.control_ultimo img {
	background-image: url(../images/control_ultimo.png);
}

a.control_ultimo:hover img {
	background-image: url(../images/control_ultimo_over.png);
}

div#controles_boveda a#control_boveda_todos img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos.png);
}

div#controles_boveda a#control_boveda_todos:hover img {
	height: 16px;
	width: 59px;
	background-image: url(../images/control_todos_over.png);
}

.etiquetaCriterioConsulta {
	color: #000033;
	font-weight: bold;
}

.tituloBlanco {
	color: #27343c;
	font-weight: bold; 
	font: 9px Arial, Helvetica, sans-serif;
}

.textoAzulDetalle {
	color: #0033CC;
	font: 9px Arial, Helvetica, sans-serif;
}

.textoGrisDetalle {
	color: #666666;
	font: 9px Arial, Helvetica, sans-serif;
}
#container_tooltip {
	position: relative;
	z-index:3;
}

#container_tooltip #tooltip {
	position: absolute;
	height:175px;
	width:210px;
	display:none;
	background: url(../images/shadow2a.gif) no-repeat;
	padding-top: 40px;
}

