* {
	margin: 0 auto 0 auto;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #434363 url(../images/fondo_head.gif) repeat-x top left;
	text-align: center; /* for IE */
}

.textoBlanco {
	font-weight: bold;
	
	color: #FFFFFF;
	font: 13px Arial, Helvetica, sans-serif;
}

#informacionSesion {
	position: absolute;
	border: 1px white solid;
	background: #fff url(../images/003.gif) repeat-x top left;
	height: 19px;
	padding-top: 3px;
	top: 40px;
	width: 530px;
	right: 170px;
}

#divFechaActual {
	position: absolute;
	
	height: 19px;
	padding-top: 3px;
	top: 15px;
	width: 530px;
	right: 170px;
}

#wrapHead {
	width: 100%;
	min-width: 950px;
}

#informacionSesion a {
	color: #fff;
	text-decoration: none;
}

#informacionSesion a:hover {
	color: #fff;
	text-decoration: underline;
}

#esquinaIzquierda {
	position: absolute;
	top: 10px;
	left: 10px;	
}

#semaforoSlv {
	position: absolute;
	top: 15px;
	left: 220px;
}

#esquinaDerecha {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 162px;
	height: 98px;
	background: #434363 url(../images/fondo_head.gif) repeat-x top left;
}

#cambiarInstitucionForm {
	width: 350px;
	line-height: normal;
	padding: 8px;
	background: transparent url(../images/login_bg.png) top left repeat;
	border: 1px solid #303f4a;
	position: absolute;
	margin-top: 0px;
	top: -35px;
	z-index: 20000;
	color: #fff;
	display: none;
	font: 10px Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.textoControles {
	font-size: 9px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #606060;
}

html>body {
	font-size: small;
}

#botonera {
	position: absolute;
	bottom: 0px;
	left: 150px;
	width: 100%;
	font-size: 93%;
	line-height: normal;
}

#botonera ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

#botonera li {
	float: left;
	background: url("../images/007.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #765;
}

#botonera a {
	float: left;
	display: block;
	width: .1em;
	background: url("../images/006.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#botonera>ul a {
	width: auto;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#botonera a {
	float: none;
}

/* End IE5-Mac hack */
#botonera a:hover {
	color: #333;
}

#dali #nav-dali,#savar #nav-savar,#mav #nav-mav
	{
	background-position: 0 -150px;
	border-width: 0;
}

#dali #nav-dali a,#savar #nav-savar a,#mav #nav-mav a
	{
	background-position: 100% -150px;
	padding-bottom: 5px;
	color: #fff;
}

#header li:hover,#header li:hover a {
	background-position: 0% -150px;
	color: #333;
}

#header li:hover a {
	background-position: 100% -150px;
}