

/* IE 6  fixes */

img { 
	behavior: url(iepngfix.htc) 
}
	
div {
	font: 9px Arial, Helvetica, sans-serif;
}

#superContenedor {
	margin-top: 50px;
	background:				#fff;
	border-top:				1px solid #fff;
	min-height: 600px;
	height: 600px;
	font: 9px Arial, Helvetica, sans-serif;
}

#contenido_pag .seccion {
	margin: 35px 0 0 0;
	float: left;
	padding: 15px;
	background: url(../images/login_bg.gif) repeat-x top left;
	border-top: 1px solid #cadfe7;
	width: 100%;
	height: 660px;	
}

.clear {
clear: both;
display: inline;
}

/* Fixes 3 */
#gooey {
height: 1px;
}

/* Fixes 4 */
#footer #elements {
height: 1px;
}

#footer {
/* Fixes 17 */
width: 925px;
}

/* Fixes 6 */
#footer .item {
padding: 0 20px 5px 17px;
}

/* Fixes 7 */
#footer .four {
position: relative;
top: 0;
left: 10px; 
/* Fixes 17 */
width: 200px;
}

/* Fixes 8... mostly */
#footer ul#support li {
/* Fixes 17 */
	width: 95px;
}

/* Fixes 5 */
#pageNav .subMenu li a {
height: 1px;
}

/* Fixes 5 */
#pageNav .smallMenu li a {
height: 1px;
}

/* Fixes 1 */
#header h1 {
width: 227px;
height: 88px;
}

/* Fixes 1 */
#login {
position: relative;
top: 37px;
left: 0;
height: 1px;
}

/* Fixes 11 */
#login img {
position: relative;
top: -9px;
left: 0;
}

/* Fixes 13 */
#siteNav li {
position: static;
}

/* Fixes 15 */
#searchBox input {
position: static;
}

/* Fixes 16 */
#searchBox input.search_button {
position: relative;
top: 0;
left: 3px;
}

/* Fixes 14 */
#footer .four div.buttonLinkLarge {
position: relative;
top: -8px;
left: 0;
}

/*Fixes Front page tabs */
.wrapper_1,.wrapper_2,.wrapper_3,.wrapper_4,.wrapper_5 {
height:277px;
}

.fragment1,.fragment2,.fragment3,.fragment4,.fragment5 { height: 277px;}

.codeblock {
	height: 40px;
}

/* Piece of crap box model - no eye candy for you! */
#pageNav ul.feeds li {
	background-image: none;
	padding-left: 0;
}

/* --- Hide compliant object tag from IE6 --- */
object.hide {
	display: none;
}