body
{

}
#lightbox #lbox
{
	padding: 5px;
}

#lightbox #lbox h2
{
	font-size: 12px;
}

#more #content h2.permissions {
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 2px;
}


.editing input
{
	
}


#editableClues .top
{
	height: 2px;
}

#editableClues .right
{
	float:right;
	width: 2px;
}

#editableClues .left
{
	float:left;
	width: 2px;
}

#editableClues .bottom
{
	clear:both;	
	height: 2px;
}

.presentation .listcontent {
	background: url(/images/icons/ap-32.gif) no-repeat left 20px;	
}

.presentationWithQuiz .listcontent {
	background: url(/images/icons/apwqm-32.gif) no-repeat left 20px;	
}

.quiz .listcontent {
	background: url(/images/icons/qm-32.gif) no-repeat left 20px;	
}

.listboxContainer {
	margin: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #acd0de;
}


.checkedListBox {
	border: 5px solid #d4e8ef;
	overflow-y: scroll;	
	overflow-x: hidden;
	cursor: pointer;	
	background: #fff;
}

.checkedListBoxSelectedItem {
	border-top: 1px solid #daebf1;
	padding: 2px;
	padding-left: 20px;
	background-image: url(/images/list_check_active.gif);
	background-repeat: no-repeat;
	color: #303030;
}

.checkedListBoxItem {
	background-color: #ffffff;	
	border-top: 1px solid #daebf1;
	padding: 2px;
	padding-left: 20px;
	background-image: url(/images/list_check_inactive.gif);
	background-repeat: no-repeat;
	color: #303030;
}

.member .listboxContainer
{
	width: 550px;
}

.member .listboxContainer .checkedListBox
{
	height: 105px;
}


#reports h1 {	
	background: transparent;
	width: auto;
	height: auto;
	margin: 0 0 5px 0;
	padding: 0;
	color: #555;
	font-size: 140%;
}


#userinfo h1 {
	
	background: #017eaf  url(../images/user_title_bg.gif)  no-repeat left center;
	width: auto;
	height: auto;	
	padding: 5px;
	padding-left: 40px;
	color: #fff;
	font-size: 150%;
}

#userinfo h1 span {
	display: inline;
}

#groupinfo h1 {
	
	background: #017eaf  url(../images/group_title_bg.gif)  no-repeat left center;
	width: auto;
	height: auto;	
	padding: 5px;
	padding-left: 40px;
	color: #fff;
	font-size: 150%;
}

#groupinfo h1 span {
	display: inline;
}

.hover
{	
	width: 100%;	
	z-index: 1;
	position: relative;
}
.editing input
{
	border: 1px solid #ddddaa;
	background: #ffffcc;	
}
h1 .editing input
{
	font-family: Tahoma;
	font-size: 18px;	
	padding: 0 3px;
}

#groupinfo h1 input
{
	font-family: Tahoma;
	font-size: 19px;	
	padding: 0 3px;
	border: none;
	background: #017eaf;
	color: #ffffff;
}


#tags a.selected
{
	background: #d4e9f2;
}

#editControls
{
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 5px;
	padding-left: 5px;
}
#editControls a.cancel
{
	color: #ff0000;
	text-decoration: underline;
}
#editControls p
{
	position: relative;
	top: -23px !important;
	left: 70px !important;
}
#editControls input.save {
	margin: 0;
	padding: 0;
	background: url(../images/save_button.gif) 0 0 no-repeat;
	width: 65px;
	height: 28px;
}

#lightbox #lbox .inviteLbox h2
{
	background: none;
}

#lightbox #lbox .launchLbox h2
{
	background: none;
}

#lightbox #lbox h2 {	
	background: none;
	height: auto;
	margin: 0px;
	margin-bottom: 3px;
	color: #303030;
}

#lightbox #lbox h2 span{	
	display: inline;
}

#more #content .tagsbox #tags {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.sdesc a.active:hover,
.sdesc a.active
{
	margin-left: 5px;
	padding-right: 17px;
	margin-right: 5px;
	background: url(/images/sort_down.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

.sasc a.active:hover,
.sasc a.active
{
	margin-left: 5px;
	padding-right: 17px;
	margin-right: 5px;
	background: url(/images/sort_up.gif);
	background-repeat: no-repeat;
	background-position: center right;
}


.sasc a,
.sdesc a
{
	margin-left: 5px;
	padding-right: 17px;
	margin-right: 5px;
	background: url(/images/sort_none.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

.sdesc a:hover
{
	padding-right: 17px;
	margin-right: 5px;
	margin-left: 5px;
	background: url(/images/sort_down.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

.sasc a:hover
{
	padding-right: 17px;
	margin-right: 5px;
	margin-left: 5px;
	background: url(/images/sort_down.gif);
	background-repeat: no-repeat;
	background-position: center right;
}



#listcontentcontainer div.loading
{
	clear: both;
	padding: 3px;
	padding-left: 24px;
	background: url(/images/loading.gif);
	background-repeat: no-repeat;
	background-position: center left;
		
}


#contentList
{
	width: 920px;
}

.editableClues
{
	padding: 0 3px;
	border: 1px dashed #ddddaa;
	color: #303030;
	background: #ffffcc;
	cursor: text;	
	z-index: 0;
}

#userinfo .main
{
	height: 150px;
}

#adduser .listboxContainer
{
	width: 320px;
	color: #606060;
}

#adduser .checkedListBox
{
	height: 83px;
}

#groupinfo .desc
{
	height: 75px;
}

.groupnameeditclues 
{
	z-index: 2;
	border: 1px dashed #fff;	
}

#adduser {
	position: absolute;
	top: 617px;
	margin: 0 0 0 -38px;
	padding: 30px 13px 0 14px;
	padding-left: 30px;
	background: url(../images/adduser_bg.gif) no-repeat;
	height: 341px;
	width: 343px;
}


.select .listboxContainer
{
	width: 354px;
	margin-left: 40px;
}

.select .listboxContainer .checkedListBox
{
	height: 175px;
}

.settings #dateRangeSelector 
{
	color:#808080;
}
#dateRangeSelector 
{
	padding-left: 40px;
	line-height: 25px;	
}

#dateRangeSelector .left
{
	clear:both;
	float: left;
	width: 75px;
	color:#808080;
}

#dateRangeSelector .right
{
	float: left;
	width: auto;
	color:#808080;
}

#dateRangeSelector .active
{	
	font-weight: bold;
}


#dateRangeSelector ul {
	margin: 0;
	padding: 0;
}

#dateRangeSelector ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#dateRangeSelector ul li a {
	color: #606060;
	font-weight: normal;
}

#dateRangeSelector ul li a:hover {
	text-decoration: underline;
}

#dateRangeSelector ul li a.active {
	text-decoration: underline;
}
.listBox {
	border: 5px solid #d4e8ef;
	overflow-y: scroll;	
	overflow-x: hidden;
	cursor: pointer;	
	background-color: #d4e8ef;
	
}

.listBoxSelectedItem {
	border-top: 1px solid #daebf1;
	padding: 5px;		
	background-color: #acd0de;
}

.listBoxItem {
	border-top: 1px solid #daebf1;
	padding: 5px;	
	background-color: #ffffff;	
}

#reports .left .select .listboxContainer .listBoxItem div
{
	width: 265px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

#reports .left .select .listboxContainer .listBoxSelectedItem div
{
	width: 265px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}


#reports .select .listboxContainer
{
	width: 345px;
	overflow: hidden;	
}

#reports .select .listBox
{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 335px;
	height: 175px;	
}
#reports .settings #dateRangeSelector
{
	padding-top: 4px;
	padding-right: 10px;
}
#reports .settings #dateRangeSelector .select
{
	padding-top: 4px;
}

#reports .settings #dateRangeSelector .left
{
	padding-top: 5px;
}
#reports .right .date
{
	margin-bottom: 5px;
}

#reports #contentActivity td.user 
{
	width: 400px;
}
#reports .settings .run 
{
	margin-left: 4px;
	margin-top: 0px;
}

/* answer report tweaks */

#reports .answer table .results {
	float: right;
	margin: 10px 0 0 0;
}

#reports .answer table tr.results  td {
	margin: 0;
	padding: 0 20px 0 0;
	text-align: right;
}

#reports .answer table tr.results td a {
	margin: 0;
	padding: 0px 14px;
	color: #606060;
	text-decoration: underline;
}

#reports .answer table tr.results td a:hover {
	text-decoration: none;
}

#reports .answer .answerColCorrect
{
	width: 250px;
	text-align: left;
	padding-left: 25px;
	background-image: url(/images/correctresponse.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#reports .answer .answerCol,
#reports .answer .typeCol,
#reports .answer .answerCol {
	width: 250px;
	text-align: left;	
	padding-left: 25px;
}

#reports .answer table 
{
	width: 920px;
}
#reports table tr.correct td
{
	background: #fff;	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}

#reports .answer tr.footer .partialLink
{
	text-align:right;
	padding: 10px;
	padding-right: 100px;
}
#reports .answer tr.footer .partialLink a
{
	color: #303030;
	text-decoration: underline;
}

#reports .answer tr.footer .totalResponseCol
{	
	text-align:right;
	padding: 10px;
}

#reports .answer tr.footer .totalResponseCol em
{	
	font-weight: bold;
	font-style: normal;
}

#reports .answer .b_answer {
	text-align: left;
}

#reports .answer h2 em
{	
	color: #999;
	font-size: 95%;
}

#settinginfo .alert div.validationSummary {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/alert.gif) no-repeat 10px center;
}
#loginboxnew #box .alert div.validationSummary ul,
#settinginfo .alert div.validationSummary ul
{
	padding-top: 5px;
	margin-left: 15px;
}
#loginboxnew #box .alert div.validationSummary li,
#settinginfo .alert div.validationSummary li {	
	list-style-type: disc;
}

#loginboxnew #box .alert div.validationSummary {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/alert.gif) no-repeat 10px center;
}

#guestcontent #left .setting input.incorrect_textbox,
#guestcontent #right .setting input.incorrect_textbox {
	margin: 0;
	padding: 3px;
	width: 190px;
	font-size: 125%;
	border: 2px solid #fb7474;
}

#guestcontent .alert {
	margin: 10px 10px 10px 10px;
	padding: 0;
	background: #fff6cf;
	border-top: 1px solid #f8e690;
	border-bottom: 1px solid #f8e690;
	color: #937015;
}

#guestcontent .alert p {
	color: #937015;
	margin: 0;
	padding: 10px 10px 10px 33px;
	background: url(../images/alert.gif) no-repeat 10px center;
}

#guestcontent .alert p span 
{
	color: #937015;
}

#guestcontent .alert div.validationSummary {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/alert.gif) no-repeat 10px center;
}


#reports tr.alt td.content_qm2_qti {
	margin: 0;
	padding: 0 0 0 33px;
	background: #f4f4f4 url(../images/icons/qm-16.gif) no-repeat 10px center;
}


#reports tr.hover td.content_qm2_qti {
	margin: 0;
	padding: 0 0 0 33px;
	background: #ddf3fb url(../images/icons/qm-16.gif) no-repeat 10px center;
}

#reports td.content_qm2_qti {
	margin: 0;
	padding: 0 0 0 33px;
	background: #fff url(../images/icons/qm-16.gif) no-repeat 10px center;
}

#reports tr.alt td.content_art5 {
	margin: 0;
	padding: 0 0 0 33px;
	background: #f4f4f4 url(../images/icons/ap-16.gif) no-repeat 10px center;
}

#reports tr.hover td.content_art5 {	
	margin: 0;
	padding: 0 0 0 33px;
	background: #ddf3fb url(../images/icons/ap-16.gif) no-repeat 10px center;
}

#reports td.content_art5 
{
	margin: 0;
	padding: 0 0 0 33px;
	background: #fff url(../images/icons/ap-16.gif) no-repeat 10px center;
}

#reports tr.alt td.content_art5_qti {
	margin: 0;
	padding: 0 0 0 33px;
	background: #f4f4f4 url(../images/icons/apwqm-16.gif) no-repeat 10px center;
}

#reports tr.hover td.content_art5_qti {	
	margin: 0;
	padding: 0 0 0 33px;
	background: #ddf3fb url(../images/icons/apwqm-16.gif) no-repeat 10px center;
}


#reports td.content_art5_qti
{
	margin: 0;
	padding: 0 0 0 33px;
	background: #fff url(../images/icons/apwqm-16.gif) no-repeat 10px center;
}


#lbox #selectRevision .listboxContainer
{
	margin-left: 15px;
	width: 320px;
}

#lbox #selectRevision .checkedListBox
{
	height: 83px;
}
/*-------------------------------------*/
#reports .useractivity {
	float: left;
	margin: 0;
	padding: 15px 0;
	border-top: 1px solid #e6f2f7;
	width: 920px;
}

#reports .useractivity img.icon {
	float: left;
	margin: 0 20px;
	padding: 0;
}

#reports .useractivity .useractivityreportinfo {
	float: left;
	margin: 7px 0 0 0;
	padding: 0;
	width: 600px;
}

#reports .useractivity .useractivityreportinfo h2 {
	margin: 0;
	padding: 0;
	background: url(../images/title_useractivityreport.gif) no-repeat;
	height: 18px;
}

#reports .useractivity .useractivityreportinfo h2 span {
	display: none;
}

#reports .useractivity .useractivityreportinfo p {
	margin: 3px 0 0 0;
	padding: 0;
	color: #3a4c53;
}

#reports .useractivity input.submit {
	float: right;
	margin: 10px 20px;
	padding: 0;
	background: url(../images/launchreport.gif) 0 0 no-repeat;
	width: 139px;
	height: 30px;
}

#reports .useractivity input.submit:hover {
	margin: 10px 20px;
	padding: 0;
	background: url(../images/launchreport.gif) -139px 0 no-repeat;
	width: 139px;
	height: 30px;
}

span.icon
{
	display: inline;
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
	
}

#reports .right .left 
{
	color: #808080;
}

.selectcontent  .listBoxSelectedItem {
	border-top: 1px solid #daebf1;
	padding: 5px;		
	padding-left: 0px;	
	background-image: none;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	
	
}

.selectcontent .listBoxItem {
	border-top: 1px solid #daebf1;
	padding: 5px;		
	padding-left: 0px;
	background-image: none;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	background-color: #ffffff;		
}


/* ------------------------------ */

#reports .left .selectgroup {
	float: left;
	margin: 0;
	padding: 0;
}

#reports .left .selectgroup .select {
	margin: 0;
	padding: 0;
	width: 392px;
}

#reports .left .selectgroup .select img {
	margin: 10px 0 0 38px;
	padding: 0;	
}

#reports .left .selectgroup .select ul {
	clear: both;
	float: right;
	margin: 5px 0 0 0;
	color: #606060;
}

#reports .left .selectgroup .select ul li,
#reports .daterange .interval ul li {
	float: left;
	margin: 0 3px 0 0;
	color: #606060;
}

#reports .left .selectgroup .select ul li a,
#reports .daterange .interval ul li a {
	margin: 2px 0 0 0;
	padding: 0;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
}

#reports .left .selectgroup .select ul li a:hover, 
#reports .left .selectgroup .select ul li a.active,
#reports .daterange .interval ul li a:hover,
#reports .daterange .interval ul li a.active {
	text-decoration: underline;
	color: #303030;
}

#reports .left .selectgroup h2.one {
	margin: 0;
	padding: 5px 0 5px 38px;
	background: url(../images/select1.gif) no-repeat top left;
	color: #505050;
	font-size: 135%;
}

/*--------------------------------------------*/


#reports .left .selectuser {
	float: left;
	margin: 0;
	padding: 0;
}

#reports .left .selectuser .select {
	margin: 0;
	padding: 0;
	width: 392px;
}

#reports .left .selectuser .select img {
	margin: 10px 0 0 38px;
	padding: 0;	
}

#reports .left .selectuser .select ul {
	clear: both;
	float: right;
	margin: 5px 0 0 0;
	color: #606060;
}

#reports .left .selectuser .select ul li,
#reports .daterange .interval ul li {
	float: left;
	margin: 0 3px 0 0;
	color: #606060;
}

#reports .left .selectuser .select ul li a,
#reports .daterange .interval ul li a {
	margin: 2px 0 0 0;
	padding: 0;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
}

#reports .left .selectuser .select ul li a:hover, 
#reports .left .selectuser .select ul li a.active,
#reports .daterange .interval ul li a:hover,
#reports .daterange .interval ul li a.active {
	text-decoration: underline;
	color: #303030;
}

#reports .left .selectuser h2.one {
	margin: 0;
	padding: 5px 0 5px 38px;
	background: url(../images/select1.gif) no-repeat top left;
	color: #505050;
	font-size: 135%;
}

#reports .settings .group
{
	float: left;
	padding-left: 5px;
	padding-top: 3px;
	
}

#reports th.middle
{
	text-align: center;
}

.infobox .options
{
	padding-top: 5px;
}

#chkShowAllMembers
{
	margin-top: 10px;
	margin-left: 45px;
}
#ctl00_ContentPlaceHolder1_Footer_chkShowAllMembers
{
	margin-top: 10px;
	margin-left: 45px;
}
#reports .answer .b_answer_likert
{
	white-space: nowrap;
	text-align: left;
}


#reports .answer td em
{
	font-weight: bold;
	font-style: normal;
}

#reports .right .group  {
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
	padding-left: 40px;
	clear: left;
}


#reportGrid tr
{
	background: #fff;
}

#reportGrid tr td
{
	background: #ffffff;
	color: #606060;	
}

#reportGrid tr.alt td
{
	background: #f4f4f4;
	color: #606060;	
}


#reportGrid tr.hoverSelected td
{
	background: #cde3eb;
	color: #303030;	
}

#reportGrid tr.selected td
{
	background: #cde3eb;
	color: #303030;	
}
#reportGrid tr.hover td
{
	background: #ddf3fb;
	color: #303030;	
}

#vcard
{
	z-index: 1000;
	float: left;
	position: absolute;
	top: 415px;
	margin: 0 0 0 0px;
	padding: 35px 30px 30px 25px;
	width: 345px;
	font-size: 12px;
	
	height: 190px;
	background: url(../images/vcard_bg.png) no-repeat;
	
}

#vcard .vcard
{
	width: 310px;
}

#vcard .photo img {
	float: left;
	margin: 0;
	padding: 2px;
	background: #fff;
	border: 1px solid #d0d0d0;
}

#vcard #downloadVCard
{
	clear: left;	
	float: left;
	width: 64px;
	text-align: center;
}

#vcard a
{
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}


#vcard ul {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

	float: right;
	margin: 0;
	padding: 0;
	width: 230px;
	color: #505050;
}

#vcard ul li {
	margin: 0;
	padding: 0;
}

#vcard #downloadVCard a
{
	font-size: 10px;
	font-weight: normal;
}

/*------------------------------*/
#reports .answer .correct {
	padding: 0;
	margin: 0;
	padding-left: 25px;
	background: url(../images/answer_correct.gif) no-repeat;
	background-repeat: no-repeat;
	min-height: 25px;
	margin-bottom: -5px;
	
}

#reports .answer .incorrect {
	padding: 0;
	margin: 0;
	padding-left: 25px;
	background: url(../images/answer_wrong.gif) no-repeat;
	background-repeat: no-repeat;
	min-height: 25px;	
	margin-bottom: -5px;

}


#reports td a
{
	color: #000000;
	text-decoration: underline;
}

#reports .completion table td.user {
	width: 275px;
}

#reports .completion table td.graph {
	width: 475px;
}


#reports .completion table td.middle {
	white-space: pre;
}

#reports .right .daterange .date select {	
	width: auto;
}

#attemptList
{
	cursor: pointer;
	height: 225px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fff;
	border: 1px solid #acd0de;
}

#attemptList #reportGrid
{
	margin: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#attemptList th
{
	border-top: 0px;
}



#reports .left .sessionreport .sessionlist
{
	width: 450px;
}

#reports .left .selectuser .listBoxSelectedItem {
	background: url(../images/user.gif) no-repeat center left #acd0de;
	padding-left: 20px;	
}

#reports .left .selectuser .listBoxItem {
	background: #ffffff url(../images/user.gif) no-repeat center left;
	padding-left: 20px;		
}

#reports .left .selectgroup .listBoxSelectedItem {
	background: url(../images/group.gif) no-repeat center left #acd0de;
	padding-left: 20px;	
}

#reports .left .selectgroup .listBoxItem 
{	
	background: #ffffff url(../images/group.gif) no-repeat center left;
	padding-left: 20px;	
}

#reports .left .select .listboxContainer .icon 
{
	height: 30px;
	float: left;
	clear: both;
}



#reports .left .select .listboxContainer .icon img {
	padding: 4px;
	margin:0;
	vertical-align: middle;
}
#reports h1.title {
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 150%;
	color: #404040;
	background-color:Transparent;
}

#usagereports #reports .infobox table td.activity 
{
	white-space: pre;
	width: 250px;
}

#settinginfo input.incorrect_textbox {
	margin: 0;
	padding: 3px;
	width: 225px;
	font-size: 125%;
	border: 2px solid #fb7474;
}

#listtags 
{
	width: 920px;
	overflow: hidden;
}

#listitem #description em
{
	color: #696969;
}

#userinfo .main .left {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

}

#userinfo .main .right {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

}

.member .counter
{
	color: #303030;
	padding-bottom: 3px;
}

#reports .right select {
	border: 2px solid #c8dee6;
}

#reports .settings select {
	border: 2px solid #c8dee6;
}
#settinginfo .confirm 
{
	margin-left: 0px;
}
#settinginfo .alert
{
	margin-left: 0px;
}

#settinginfo .buttons input.nologo,
#settinginfo .buttons input.changelogo {
	float: left;
	margin: 0 12px 0 0;
	padding: 0;
	background: url(../images/uploadbutton.gif) 0 0 no-repeat;
	width: 139px;
	height: 30px;
	border: none;
}

#settinginfo .buttons input.nologo:hover,
#settinginfo .buttons input.changelogo:hover {
	margin: 0 12px 0 0;
	padding: 0;
	background: url(../images/uploadbutton.gif) -139px 0 no-repeat;
	width: 139px;
	height: 30px;
}
#reports .options a.export 
{
	background: url(../images/table_export.gif) no-repeat 0px 1px no-repeat;
}

.confirm {
	margin: 0 0 0 0;
	padding: 0;
	background: #fff6cf;
	border-top: 1px solid #f8e690;
	border-bottom: 1px solid #f8e690;
	color: #937015;
	width: 100%;
}

.confirm p {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/confirm.gif) no-repeat 10px center;
	width: 100%;
}

#notifyInviteSent
{
	float: right;
	width: 600px;
	margin-top: 10px;
	/*margin-right: 150px;*/
	border-left: 1px solid #f8e690;
	border-right: 1px solid #f8e690;
}

#notifyPasswordChanged
{
	float: right;
	width: 600px;
	margin-top: 10px;
	/*margin-right: 150px;*/
	border-left: 1px solid #f8e690;
	border-right: 1px solid #f8e690;
}

#notifyInvitePublisherSent
{
	float: right;
	width: 600px;
	margin-top: 10px;
	/*margin-right: 150px;*/
	border-left: 1px solid #f8e690;
	border-right: 1px solid #f8e690;
}


#listitem .desc input.launch 
{
	float: left;
	clear: left;
}

#reports .daterange .group
{
	width: 400px;
}

#reports .daterange .group select
{
	margin-left: 32px;
}

#reports .daterange .allmembers
{
	margin-left: 30px;
}

#groupinfo .search span.searchtitle {
	float: left;
	margin: 3px 20px 0 0;
	_margin: 0 20px 0 0;
	padding: 0;
	background: url(../images/search.gif) no-repeat;
	height: 18px;
	_height: 28px;
	width: 66px;
}

#groupinfo .search span.searchtitle span {
	display: none;
}

#groupinfo .search input {
	margin: 0;
	padding: 3px;
	width: 400px;
	border: 1px solid #c8dee6;
}

#attemptList td.last
{
	text-align: center;
	width: 200px;
}

#radiobox input.livesearch,
input.livesearch 
{
	border: 5px solid #d4e8ef;
	border-bottom: 0px;;
	background: #fff url(/images/usersearch.gif);	
	background-position: left center;
	padding-left: 28px;
	background-repeat: no-repeat;	
	color: #cccccc;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: italic;
	margin-top: -1px;
	margin-bottom: -1px;

}

*:lang(en) #radiobox input.livesearch,
*:lang(en) input.livesearch 
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#radiobox input.livesearch_active,
input.livesearch_active 
{
	background: #fff url(/images/usersearch.gif);	
	background-position: left center;
	padding-left: 28px;
	background-repeat: no-repeat;
	
	border: 5px solid #d4e8ef;
	border-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;

	color: #505050;
	font-style: normal;
	margin-top: -1px;
	margin-bottom: -1px;
		
}


*:lang(en) #radiobox input.livesearch_active,
*:lang(en) input.livesearch_active 
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#lightbox #lbox input.sendreport {
	margin: 0 10px 0 15px;
	padding: 0;
	background: url(../images/emailreport.gif) 0 0 no-repeat;
	width: 139px;
	height: 30px;
}

#lightbox #lbox input.sendreport:hover {
	margin: 0 10px 0 15px;
	padding: 0;
	background: url(../images/emailreport.gif) -139px 0 no-repeat;
	width: 139px;
	height: 30px;
}

#reports .desc
{
	width: 100%;
}

#side .warning
{
	color: #f00;
}

#side .warning img
{	
	border: 0px;
	padding-left: 3px;
	vertical-align:text-top;
}

.alert {
	margin: 0 0 0 0;
	padding: 0;
	background: #fff6cf;
	border-top: 1px solid #f8e690;
	border-bottom: 1px solid #f8e690;
	color: #937015;
}

.alert p {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/alert.gif) no-repeat 10px center;
}

#side .alert {
	margin: 10px 0 0 0;
	padding: 0;
	background: #fff6cf;
	border: 1px solid #f8e690;
	color: #937015
}

#side .alert p {
	margin: 0;
	padding: 10px 10px 10px 33px;
	color: #937015;
	background: url(../images/alert.gif) no-repeat 10px center;
}


#saveGroupChanges span
{
	float: left;
	margin: 3px 10px 0 10px;
	padding: 0;
	color: #505050;
}
#saveGroupChanges input.save {
	float: left;
	margin: -2px 0 0 0;
	_margin-top: 0px;
	padding: 0;
	background: url(../images/savenewgroup.gif) 0 0 no-repeat;
	width: 65px;
	height: 28px;
	border: none;
}

#saveGroupChanges 
{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;	
}
#saveGroupChanges input.save:hover {
	margin: -2px 0 0 0;
	_margin-top: 0px;
	padding: 0;
	background: url(../images/savenewgroup.gif) -65px 0 no-repeat;
	width: 65px;
	height: 28px;
	border: none;
}

#saveGroupChanges p.buttons {
	float: left;
	margin: 3px 0 0 10px;
	padding: 0;
}

#saveGroupChanges p.buttons a.cancel {
	color: #ff0000;
	text-decoration: underline;
}

#saveGroupChanges p.buttons a.cancel:hover {
	text-decoration: none;
}

#groupinfo .userline 
{
	margin-top: 15px;
}

#waitoverlay
{
	z-index: 9999;
	cursor: wait;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#waitoverlay span.loading
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	
	background: #fff;
	color: #aaa;		
	border: 5px solid #d4e8ef;
	width: 195px;
	height: 25px;
	overflow: hidden;
}


.section p.copytext
{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	text-indent: 0px;
	clear: both;
}
#settinginfo #nologo .setting
{
	margin-bottom: 10px;
}
#settinginfo #nologo .buttons
{
	float:none;
	margin-bottom: 10px;
	padding-left: 20px;
	clear: both;
}
#settinginfo #changelogo .buttons 
{
	clear: both;
	float:none;
	margin-bottom: 10px;
}

#footer 
{
	margin-top: 15px;
}

#settinginfo #nologo,
#settinginfo #changelogo {
	width: 100%;
}

p.req
{
	width: 200px;
}

.vcard iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px/*must have for any big value*/;
}

#vcard {
	background: url(../images/vcard_bg.gif) no-repeat;
}


#loginboxnew #lostPassword
{
	white-space: nowrap;
	
}
/*
#loginboxnew .setting {
	overflow: hidden;
}

#loginboxnew .buttons {
	_margin-left: 83px;
}*/


#side .upgrade {
	width: 240px;	
	_overflow: hidden;
}

#reports .options #export {
	position: absolute;
	float: left;
	top: 200px;
	background: url(../images/export_bg.gif) no-repeat;
	margin: 0 0 0 -25px;	
	width: 209px;
	height: 111px;
	padding: 0px 0px 15px 20px;
}

#reports .options #export ul {
	margin: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

#reports .options #export ul li {
	margin: 8px 0 0 0;
	padding: 0;
	padding-left: 4px;
	clear: left;
	float: left;
	width: 200px;	
}




#customDate table
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#customDate table td
{
	padding: 0px;
	padding-right: 10px;
	margin: 0px;
	border: 0px;
	color: #808080;
}

#customDate div.datePicker
{
	background: #fff;
	border: 2px solid #7DA5C1;
	width: 174px;
	cursor: pointer;
}

#customDate div.datePicker .header
{
	color: #fff;
	background-color: #9BB9CE;
	border-bottom: 2px solid #7DA5C1;
	text-align: center;
	padding: 5px;
}

#customDate div.datePicker .headerTable {
	width:			100%;
}


#customDate div.datePicker .labelContainer
{
	color: #fff;
	text-decoration: none;
}

#customDate div.datePicker table.gridTable tr.daysRow
{
	font-weight: bold;	
	color: #666;
	text-transform: uppercase;
	text-align:	center;	
}

#customDate div.datePicker td
{
	padding: 0px;
}

#customDate div.datePicker table.gridTable 
{
	width: 100%;
}
#customDate div.datePicker table.gridTable td
{
	color: #444;
	text-align:	center;	
	vertical-align: middle;
	width: 16px;
	height: 16px;
	cursor: arrow;
}

#customDate div.datePicker table.gridTable td.upperLine
{
	padding: 0px;
	height: 0px;
	width: auto;
}

#customDate div.datePicker .previousButton {
	background:	url("/images/arrow.left.png") no-repeat center center;	
	border: 0px;
	margin-right: 4px;
	width:11px;
	height: 20px;
}

#customDate div.datePicker .nextButton {
	margin-left: 4px;
	background:	url("/images/arrow.right.png") no-repeat center center;	
	border: 0px;
	width:11px;
	height: 20px;
}


#customDate div.datePicker td.today {
	font-weight:	bold !important;
}

#customDate div.datePicker td.selected {
	background:		#00658C;
	color:			#fff !important;
}
#customDate a.topLabel 
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

input.datePickTextBox
{
	width: 110px;
	margin-left: 30px;
}

#listitem #description
{
	color: #696969
}

#reportEmailNotification
{
	width: 920px;
	_width: 900px;
	margin-bottom: 15px;
}

#contentInviteSent
{
	width: 100%;
	margin-top: 15px;	
}