.thFT {
    font-size: 10px;
    color: #003399;
    text-align: center;
    background-color: #CCCCCC;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.bordeFT {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    white-space: nowrap;
}

.campoAutocomplete {

}

.tooltipNumericoAsterisco {

}

.tooltipAlfaNumericoAsterisco {

}

.tooltipAlfaAsterisco {

}

.campoAlfabeticos {

}

.campoNumerico {

}

.campoNumericoEnter {

}


.campoNumericoDia {

}

.campoNumericoMes {

}

.campoNumericoAnio {

}

.campoNumericoDecimal {

}

.campoNumericoComa {

}

.divModal {
    display: none;
    height: 400px;
    width: 98%;

}

.frameModal {

    height: 600px;
    width: 98%;
    background-image: url(../images/ajax-loader-2.gif);
    background-repeat: no-repeat;
}

.campoAlphaNumerico {

}

.campoNumericoGuion {

}

.campoAlphaNumericoAsterisco {

}

.campoNumericoAsterisco {

}


.campoAlphaNumericoEmisora {
    text-transform: uppercase;
    text-decoration: uppercase;
}

.campoAlphaNumericoSerie {
    text-transform: uppercase;
    text-decoration: uppercase;
}

/*
      -- Even more rounded corners with CSS: Base styleshee vat --
    */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #434363;
    text-align: center; /* for IE */
}

* {
    margin: 0 auto 0 auto;
}

#mainContainer {
    position: relative;
    top: 35px;
    width: 95%;
    min-width: 950px;
    margin: 0 auto; /* align for good browsers */
    text-align: left; /* counter the body center */
    background: #fff url(../images/001.gif) repeat-x top left;
    padding-bottom: 15px;
}

#mainContainerLarge {
    position: relative;
    top: 35px;
    width: 100%;
    min-width: 1250px;
    margin: 0 auto; /* align for good browsers */
    text-align: left; /* counter the body center */
    background: #fff url(../images/001.gif) repeat-x top left;
    padding-bottom: 15px;
}

#footerMainContainer {
    position: relative;
    bottom: 0px;
    left: 0px;
    height: 27px;
    width: 100%;
    background: #434363 url(../images/002.gif) repeat-x bottom left;
}

#padding {
    position: relative;
    width: 100%;
    height: 20px;
    background: #434363;
}

body {
    text-align: center; /* for IE */
}

/* ELEMENTOS B�SICOS *************************************************/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0;
    color: #808080;
}

img {
    border: none;
}

span {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.texto {
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.textoSic {
    font-size: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #017eaf;
}

.controlFecha {
    width: 10px;
    color: blue;
}

.textoEstadoCuenta {
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.textoGeneral {
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#divCargando {
    vertical-align: middle;
    display: none;
    width: 900px;
}

.textLoading {
    font: 12px Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.textoResumen {
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #606060;
}

.textoControles {
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #606060;
}

.textoControlesCustodio {
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.textoGris {
    color: #606060;
}

input[type="text"], select {
    background-color: #ffffe6;
}

input[type="text"][readonly] {
    background-color: #e2edfe;
}

textarea {
    background-color: #ffffe6;
    resize: none;
}

.readonly {
    background-color: #e2edfe;
}

.editable {
    background-color: #ffffe6;
}

.required {
    color: red;
}

.textoError {
    color: red;
}

.textoCupon {

}

.textoTipoValor {

}

.textoEmisora {

}

.
.textoSerie {

}

.textoParticipante {

}

.textoCantidadOperada {

}

.textoCuenta {

}

.textoMayusculas {
    text-transform: uppercase;
    text-decoration: uppercase;
}

.fileError {
    color: red;
}

/*-----------------------------------------
    Adiciones
------------------------------------------*/
#wrap {
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
    width: 925px;
}

#wrapLarge {
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
    width: 1250px;
}

#contenido_pag {
    margin: 15px 23px 0 0;
    padding-top: 15px;
    /*width: 1000px !important; (Ticket#11126673)*/
}

#contenido_pag .tituloContenido {
    margin: 0;
    font-size: 115%;
    font-weight: normal;
    background: none;
    text-align: left;
}

#contenido_pag p.descripcion {
    text-align: left;
    margin: 3px 0 0 0;
    padding: 0;
}

#contenido_pag #tituloContenido .descripcion .titulo {
    font-size: 120%;
}

#contenido_pag .seccion {
    margin: 20px 0 0 0;
    margin-top: 15px;
    padding: 15px;
    background: url(../images/login_bg.gif) repeat-x top left;
    border-top: 1px solid #cadfe7;
    width: 100%;
    min-height: 660px;
}

#contenido_pag .seccion h1 {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 120%;
    color: #404040;
}

#contenido_pag .seccion .cancelar, .buscar, .refrescar, .guardar, .limpiar, .editar, .nuevaEmision, .nuevoCustodio, .nuevoDeposito, .buscarEmision, .buscarDeposito, .editarDeposito, .editarCustodio, .editarEmision, .bajaEmision, .bajaCustodio, .bajaDeposito, .nuevoTipoDerechoEVCO {
    float: right;
    padding: 0 0 0 5px;
}

#contenido_pag .seccion .nuevoDeposito input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/nuevoDeposito.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .nuevoDeposito input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/nuevoDeposito.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .buscarDeposito input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/buscarDepositoLiq.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .buscarDeposito input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/buscarDepositoLiq.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarDeposito input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/editarDeposito.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarDeposito input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/editarDeposito.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaDeposito input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarDeposito.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaDeposito input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarDeposito.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .nuevoCustodio input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/nuevoCustodio.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .nuevoCustodio input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/nuevoCustodio.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarCustodio input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/editarCustodio.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarCustodio input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/editarCustodio.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaCustodio input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarCustodio.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaCustodio input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarCustodio.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .nuevaEmision input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/nuevaEmision.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .nuevaEmision input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/nuevaEmision.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .buscarEmision input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/buscarEmisiones.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .buscarEmision input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/buscarEmisiones.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarEmision input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/editarEmision.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editarEmision input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/editarEmision.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaEmision input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarEmision.gif) 0 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .bajaEmision input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/eliminarEmision.gif) -150px 0 no-repeat;
    width: 150px;
    height: 28px;
}

#contenido_pag .seccion .editar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/editar.gif) -65px 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .editar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/editar.gif) 0 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .limpiar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/limpiar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .limpiar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/limpiar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .nuevoTipoDerechoEVCO input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/boton_nuevo.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .nuevoTipoDerechoEVCO input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/boton_nuevo.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .cancelar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/cancelar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .cancelar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/cancelar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .cerrar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/cerrar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .cerrar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/cerrar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .guardar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/guardar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .guardar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/guardar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

.guardar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/guardar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

.guardar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/guardar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .nuevo input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/boton_nuevo.gif) -65px 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .nuevo input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/boton_nuevo.gif) 0 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .refrescar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/refrescar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .refrescar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/refrescar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .buscar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/buscar.gif) 0 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .buscar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/buscar.gif) -65px 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .asignarBoveda input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/boton_asignar.gif) 0 0 no-repeat;
    width: 65px;
    height: 28px;
}

#contenido_pag .seccion .agregar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/agregar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .agregar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/agregar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .eliminar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/eliminar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .eliminar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/eliminar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .aceptar input.submit:hover {
    margin: 0;
    padding: 0;
    background: url(../images/aceptar.gif) -85px 0 no-repeat;
    width: 85px;
    height: 28px;
}

#contenido_pag .seccion .aceptar input.submit {
    margin: 0;
    padding: 0;
    background: url(../images/aceptar.gif) 0 0 no-repeat;
    width: 85px;
    height: 28px;
}

.tablaGeneral {
    clear: both;
    margin: 10px 0 15px 0;
    padding: 0;
    border-left: 1px solid #acd0de;
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    font-size: 9px;
}

.tituloTabla {
    color: #fff;
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-top: 1px solid #acd0de;
    text-align: center;
    padding: 3px 3px;
    background: #017eaf;
    font-weight: normal;
    font-size: 9px;
}

.pieTabla {
    color: #fff;
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-top: 1px solid #acd0de;
    text-align: right;
    padding: 3px 3px;
    background: #017eaf;
    font-weight: normal;
    font-size: 9px;
}

.centrado {
    text-align: center;
}

.derecha {
    text-align: right;
}

.tituloTabla a, .tituloTabla a:hover {
    color: #fff;
    font-size: 9px;
}

.renglonTablaUno {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #fff;
    font-size: 9px;
}

.renglonTablaDos {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #ebebeb;
    font-size: 9px;
}

.renglonTablaTres {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #FFFF00;
    font-size: 9px;
}

.ResultadosTable {
    text-align: center;
    color: #606060;
}

.ResultadosTable tr:nth-child(odd) {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #ebebeb;
    font-size: 9px;
}

.ResultadosTable tr:nth-child(even) {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #fff;
    font-size: 9px;
}

.ResultadosTable tr:nth-child(odd) div {
    color: #ebebeb;
}

.ResultadosTable tr:nth-child(even) div {
    color: #fff;
}

.color1 {
    color: #fff;
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-top: 1px solid #acd0de;
    text-align: center;
    padding: 3px 3px;
    background: #017eaf;
    font-weight: normal;
    font-size: 9px;
}

.color2 {
    color: #fff;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
    text-align: center;
    padding: 3px 3px;
    background: #666666;
    font-weight: normal;
    font-size: 9px;
}

.rich-ordering-list-cell-selected {
    color: #fff;
    padding: 2px 2px;
    white-space: nowrap;
    background: #017eaf;
}

/** ------------ RECUADROS ------------ */
.recuadro {
    margin: 0;
    _margin: 0;
    padding: 5px;
    background: #d4e9f2;
    border: 1px solid #c9dee6;
    width: 100%;
    height: 100%;
    _width: 100%;
    _height: 100%;
}

.recuadroTabla {
    vertical-align: top;
    background: #d4e9f2;
    border: 1px solid #c9dee6;
}

.tablaCriterios {
    width: 100%;
    border: none;
    padding: 5px;
}

.recuadro strong {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #3a4c53;
}

.recuadro p {
    margin: 0;
    padding: 0;
    color: #647981;
}

/****** WARNING ----------------------- */
#contenido_pag .warning {
    color: #404040;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #f8e690;
    background: #fff6cf;
    width: 100%;
}

#contenido_pag .warning p {
    padding-left: 22px;
    color: #606060;
    background: url(../images/warning.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

/*--------------------------------------
    FIN ADICIONES
---------------------------------------*/
.textoBarraTitulo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.textoBlanco {
    font-weight: bold;
    color: #FFFFFF;
    font: 9px Arial, Helvetica, sans-serif;
}

.textoBlancoGrande {
    font-weight: bold;
    color: #FFFFFF;
    font: 12px Arial, Helvetica, sans-serif;
}

.centradoVertical {
    vertical-align: middle;
}

.panelSinBorde {
    border: none;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    background: none;
}

.tooltip {
    padding: 15px 15px 15px 15px;
    border: 1px solid #768E9D;
    font-weight: bold;
    width: 25em;
    background-color: #cdd5dd;
}

.tooltip-text {
    width: 350px;
    height: 65px;
    cursor: arrow;
    border-width: 2px;
    text-align: center;
}

.tooltipData {
    font-weight: bold;
}

/***************************************** LOGIN *********************************************/

#primaryContent {
    float: left;
    margin-top: 30px;
    padding: 0 15px;
    display: inline;
    position: relative;
}

.warning {
    position: static;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f8e690;
    background: #fff6cf;
    background-position: left center;
    width: 97%;
    font-size: 11px;
}

.info {
    position: static;
    color: #606060;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f8e690;
    background: #fff6cf;
    background-position: left center;
    width: 97%;
    font-size: 11px;
}

.error {
    position: static;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f8e690;
    background: #fff6cf;
    background-position: left center;
    width: 97%;
    font-size: 11px;
}


.columnaMoneda {
    text-align: right;
    white-space: nowrap;
}


.columnaTexto {
    text-align: center;
}

A:link {
}

A:visited {
    color: blue;
}

A:active {
}

A:hover {
}


#footerContainer {

    width: 100%;
    height: 45px;
    background: #000033;
}

.textoPeque12 {
    font-size: 10px;
}

.textoNegritas {
    font-weight: bold;
}

.textoBenefPartes {
    font-size: 12px;
}

.alineacionIzquierda {
    text-align: left;
}

.textoStatementsResaltado {
    font-weight: bold;
}

.textoStatementsResumen {
    color: red;
}

.textoStatementTitulo {
    font-weight: bold;
    font-size: 14px;
}

.textoArriba {
    vertical-align: text-top;
}


.submitLink {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #00F;
    border-left: 0;
    color: #00F;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

*:first-child + html .submitLink { /* hack needed for IE 7 */
    border-bottom: 0;
    text-decoration: underline;
}

* html .submit { /* hack needed for IE 5/6 */
    border-bottom: 0;
    text-decoration: underline;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    color: gray;
    font-size: 22px;
    display: block;
}

.wordWrap {
    white-space: normal;
    word-wrap: break-word;
}

.renglonTablaAmarilla {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #ffff00;
    font-size: 9px;
}

.renglonTablaNarrativaEnviada {
    border-right: 1px solid #acd0de;
    border-bottom: 1px solid #acd0de;
    border-left: 1px solid #acd0de;
    padding: 2px;
    color: #606060;
    font-size: 100%;
    line-height: 1.4em;
    background-color: #f5deb3;
    font-size: 9px;
}

.campoAlphaNumericoNarrativa {

}

.selectDeshabilitado {
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}

.textoExitoIsin {
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;

}

.textoErrorIsin {
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #FF0000;
    font-weight: bold;
}

.tablaConScroll {
    border: 1px solid white;
    width: 915px;
    overflow: auto;
}


#contenido_pag .botonesCSDR {
    float: right;
    padding: 0 0 0 5px;
}


.cssbutton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #164e80));
    background: -moz-linear-gradient(center top, #63b8ee 5%, #164e80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#164e80');
    background-color: #63b8ee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #154682;
    display: inline-block;
    color: #f2f3f5;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    /*text-shadow:1px 1px 0px #7cacde;*/
}

.cssbutton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #164e80), color-stop(1, #63b8ee));
    background: -moz-linear-gradient(center top, #164e80 5%, #63b8ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#164e80', endColorstr='#63b8ee');
    background-color: #164e80;
}

.cssbutton:active {
    position: relative;
    top: 1px;
}

.resaltarNegativo {
    background: #F5B7B1;
    color: #7B241C;
    text-decoration-line: overline;
    text-decoration-color: #7B241C;
}

.resaltarNegativoTotal {
    background: #a2180b;
    color: #F5B7B1;
    font-size: small;
}

.resaltarNegativoRenglon1 {
    background: #e0c0bd;
    color: #7B241C;
    text-decoration-color: #7B241C;
}

.resaltarNegativoRenglon2 {
    background: #eaa49d;
    color: #7B241C;
    text-decoration-color: #7B241C;
}
