
#menuContainer {

	position: absolute;
	
	width: 100%;
	height: 25px;
	background: #fff url(../images/fondo_menu_main.gif) repeat-x top left;
	z-index: 3;
}

.clearFix:after { /* for modern browsers */
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.clearFix { /* for IE7/Win */
    min-height:1px;
}
* html .clearFix { /* for IE5-6/Win */
    height:1px;
}
* html>body .clearFix { /* for IE5/Mac */
    height:auto;
    display:inline-block;
}

