@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background: #fff url(../images/body_bg.gif) repeat-x top left;
}

html {
	
}

/* BASIC ELEMENTS *************************************************/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
	color: #808080;
}

img {
	border: none;
}

span {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.texto {
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* WRAP ***********************************************************/
#wrap {
	margin: 0;
	padding: 0 10px 0 10px;
	width: 98%;
}

/* HEADER *********************************************************/
#header {
	float: left;
	padding: 0px 0 0 0;
	width: 100%;
	height: 54px;
}

#header .logo {
	float: left;
	margin: 0;
	padding: 0;
	border: none;
}

#header ul#top {
	float: right;
	margin: 0;
	padding: 19px 0px 0px 0px;
}

#header ul#top li {
	float: left;
	margin: 0;
	padding: 0;
	color: #fff;
}

#header ul#top li a {
	margin: 0;
	padding: 0;
	color: #fff;
}


/* NAVIGATION *****************************************************/
ul#nav {
	margin: 0;
	padding: 0;
	height: 44px;
}

ul#nav li {
	float: left;
	margin: 0;
	padding: 0;
}

ul#nav li a {
	display: block;
	margin: 0 3px 0 0;
	padding: 6px 18px 6px 18px;
	color: #d9d9d9;
	_height: 0;
	_width: 0;
}

ul#nav li a:hover {
	text-decoration: none;
	color: #fff;
}

ul#nav li a.active,
ul#nav li a.active:hover {
	padding: 6px 18px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #fff;
	color: #124d64;
	border-top: none;
	border-bottom: 2px solid #0177a6;
	border-right: 1px solid #0177a6;
	border-left: 1px solid #0177a6;
	background: #fff url(../images/nav_active.gif) repeat-x bottom left;
}




#contenido {
	float: left;
	margin: 25px 0 0 0;
	padding: 0 15px;
}

#contenido .reporttitle h1 {
	margin: 0;
	padding: 0 0 0 33px;
	color: #fff;
	font-size: 135%;
	font-weight: normal;
	background: none;
}

#contenido h1.title {
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 150%;
	color: #404040;
	background: #fff;
}

#contenido h1.title a {
	color: #404040;
}

#contenido p.desc {
	margin: 3px 0 0 0;
	padding: 0;
}

#contenido .seccion {
	margin: 35px 0 0 0;
	float: left;
	padding: 15px;
	background: url(../images/settings_bg.gif) repeat-x top left;
	border-top: 1px solid #cadfe7;
	width: 100%;
}

#contenido .seccion h1 {
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 120%;
	color: #404040;
}

#contenido .seccion .buscar, .refrescar{
	float: right;
	padding: 0 0 0 5px;
}

#contenido .seccion .refrescar input.submit {
	margin: 0;
	padding: 0;
	background: url(../images/refrescar.gif) 0 0 no-repeat;
	width: 85px;
	height: 28px;
	
}

#contenido .seccion .refrescar input.submit:hover {
	margin: 0;
	padding: 0;
	background: url(../images/refrescar.gif) -85px 0 no-repeat;
	width: 85px;
	height: 28px;
}

#contenido .seccion .buscar input.submit {
	margin: 0;
	padding: 0;
	background: url(../images/buscar.gif) 0 0 no-repeat;
	width: 65px;
	height: 28px;
	
}

#contenido .seccion .buscar input.submit:hover {
	margin: 0;
	padding: 0;
	background: url(../images/buscar.gif) -65px 0 no-repeat;
	width: 65px;
	height: 28px;
}

.tablaGeneral  {
	clear: both;
	margin: 10px 0 15px 0;
	padding: 0;
	border-left: 1px solid #acd0de;
	border-bottom: 1px solid #acd0de;
	font-size: 100%;
}


.tablaGeneral th {
	color: #fff;
	border-right: 1px solid #acd0de;
	border-bottom: 1px solid #acd0de;
	border-top: 1px solid #acd0de;
	text-align: left;
	padding: 6px 12px;
	background: #017eaf;
	font-weight: normal;
}

.tablaGeneral td {
	border-right: 1px solid #acd0de;
	border-bottom: 1px solid #acd0de;
	padding: 6px;
	color: #606060;
	font-size: 95%;
	line-height: 1.4em;
}

.tablaGeneral td small {
	font-size: 85%;
}

.tablaGeneral tr {
	padding: 6px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #acd0de;
	background-color: #cde3eb;
	color: #303030;
}

.tablaGeneral tr#active td.content {
	padding: 0 8px 0 32px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #acd0de;
	background-color: #cde3eb;
	color: #303030;
}

.tablaGeneral tr#active td.middle a.thescore {
	margin: 0 0 0 6px;
	text-align: center;
	color: #303030;
	text-decoration: underline;
}


.tablaGeneral td.user {
	width: 200px;
	padding: 8px 6px;
}

.tablaGeneral td.middle {
	text-align: center;
}

.tablaGeneral tr
{
	background: #fff;
}

.tablaGeneral tr td
{
	background: #ffffff;
	color: #606060;	
}

.tablaGeneral tr.alt td
{
	background: #f4f4f4;
	color: #606060;	
}


.tablaGeneral tr.hoverSelected td
{
	background: #cde3eb;
	color: #303030;	
}

.tablaGeneral tr.selected td
{
	background: #cde3eb;
	color: #303030;	
}

.tablaGeneral tr.hover td
{
	background: #ddf3fb;
	color: #303030;	
}

/** ------------ RECUADROS ------------ */

.recuadro {
	float: left;
	margin: 0;
	_margin: 0 5px 0 0;
	padding: 5px;
	background: #d4e9f2;
	border: 1px solid #c9dee6;
	width: 100%;
	_width: 100%;
	_height: 100%;
}

.recuadro h1 {
	margin: 0 0 10px 0;
	padding: 0;
	background: url(../images/title_side.gif) no-repeat;
	height: 14px;
}

.recuadro h1 span {
	display: none;
}

.recuadro strong {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3a4c53;
}

.recuadro p {
	margin: 0 0 0 10px;
	padding: 5px 0;
	color: #647981;
}

/****** WARNING ----------------------- */

#contenido .warning
{
	color: #404040;
	margin-bottom: 10px;
	margin-top: 10px;	
	padding: 5px;
	border: 1px solid #f8e690;
	background: #fff6cf;
	width: 100%;	
}

#contenido .warning p
{
	padding-left: 22px;
	color: #606060;	
	background: url(../images/warning.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#contenido .warning a
{
	color: #606060;
	text-decoration: underline;
}

#contenido .warning a:hover
{
	color: #606060;
	text-decoration: none;
}


/* FOOTER *********************************************************/
#bottom {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer {
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: 2px solid #e6f2f7;
	
	/* background: #0092cc; */
}

#footer ul {
	float: left;
	margin: 0 0 0 15px;
	padding: 12px 0;
	width: 350px;
}

#footer ul li {
	display: inline;
	margin: 0;
	padding: 0;
	color: #c0c0c0;
}

#footer ul li a {
	margin: 0;
	padding: 3px;
	color: #808080;
}

#footer ul li a.active {
	color: #808080;
	text-decoration: underline;
}

#footer ul li a:hover,
#footer p.copy a:hover {
	padding: 3px;
	background: #006086;
	color: #fff;
	text-decoration: none;
}

#footer p.copy {
	float: right;
	margin: 0 15px 0 0;
	padding: 12px 0;
	color: #c0c0c0;
}

#footer p.copy a {
	margin: 0;
	padding: 3px;
	color: #808080;
}