<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/jee	http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	
	
	<bean id="consultaEstatusOperacionesMatchService" class="com.indeval.portaldali.middleware.services.estatus.ConsultaEstatusOperacionesMatchServiceImpl">
		<property name="estatusOperacionesMatchDAO" ref="estatusOperacionesMatchDAO"></property>
		<property name="bitacoraOperacionesService" ref="bitacoraOperacionesService"></property>
		<property name="posicionDaliDao" ref="tPosicionNombradaDao"></property>
		<property name="institucionDAO" ref="institucionDAO"></property>
		<property name="propiedadesDaliService"	ref="propiedadesDaliService"/>
	</bean>	
	
	<bean id="consultaInstruccionEfectivoService" class="com.indeval.portaldali.middleware.services.estatus.ConsultaInstruccionEfectivoServiceImpl">
		<property name="consultaInstruccionesEfectivoDAO"  ref="consultaInstruccionesEfectivoDAO"/>
		<property name="admonCuentasRetiroEfectivoService" ref="admonCuentasRetiroEfectivoService"/>
		<property name="admonRetirosEfectivoService"       ref="admonRetirosEfectivoService"/>
		<property name="parametrosLiquidacionDaliDAO"	ref="parametrosLiquidacionDao"/>
		<property name="retiroEfectivoDao" ref="retiroEfectivoDao"></property>
		<property name="cuentaDaliDao" ref="cuentaDAO"></property>
	</bean>
	
<!-- 	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean" -->
<!-- 		lazy-init="true"> -->
<!-- 		<property name="jndiName" value="${portalDali.ingresosCFNonXA}" /> -->
<!-- 	</bean> -->
	
	
	<jee:jndi-lookup id="jmsConnectionFactory" jndi-name="${portalDali.ingresosCFNonXA}" proxy-interface="javax.jms.QueueConnectionFactory" />
	
	<jee:jndi-lookup id="queueIngresos" jndi-name="${portalDali.ingresosQueueSend}" proxy-interface="javax.jms.Queue" />
	
	<jee:jndi-lookup id="queueReenvioMov" jndi-name="${portalDali.reenvioMOVQueue}" proxy-interface="javax.jms.Queue" />
    
    <jee:jndi-lookup id="queueReenvioMAV" jndi-name="${portalDali.reenvioMAVQueue}" proxy-interface="javax.jms.Queue" />
    
    <jee:jndi-lookup id="queueReenvioMOS" jndi-name="${portalDali.reenvioMOSQueue}" proxy-interface="javax.jms.Queue" />
    
    <jee:jndi-lookup id="queueReenvioSLV" jndi-name="${portalDali.reenvioSLVQueue}" proxy-interface="javax.jms.Queue" />
    
    <jee:jndi-lookup id="queueReenvioADAPTERMAVPFI" jndi-name="${portalDali.reenvioADAPTERMAVPFIQueue}" proxy-interface="javax.jms.Queue" />
    
    <jee:jndi-lookup id="queueReenvioAE" jndi-name="${portalDali.reenvioAEQueue}" proxy-interface="javax.jms.Queue" />
	
    <jee:jndi-lookup id="queueReenvioMATCH" jndi-name="${portalDali.reenvioMATCHQueue}" proxy-interface="javax.jms.Queue" />
		
	<bean id="jmsDestinationResolver" class="org.springframework.jms.support.destination.JndiDestinationResolver">
		<property name="cache" value="true"/>
	</bean>
	
	
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate"
		lazy-init="true">
		<description>Facilita el envio de mensajes JMS</description>
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="pubSubDomain" value="false" />
		<property name="explicitQosEnabled" value="true" />
		<property name="sessionTransacted" value="false" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="defaultDestination" ref="queueIngresos" />
		
	</bean>
	
	<bean id="jmsTemplateReenvioMov" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="pubSubDomain" value="false" />
		<property name="explicitQosEnabled" value="true" />
		<property name="sessionTransacted" value="false" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="defaultDestination" ref="queueReenvioMov" />
	</bean>
    
    <bean id="jmsTemplateReenvioMAV" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioMAV" />
    </bean>
    
    <bean id="jmsTemplateReenvioMOS" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioMOS" />
    </bean>
    
    <bean id="jmsTemplateReenvioSLV" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioSLV" />
    </bean>
    
    <bean id="jmsTemplateReenvioADAPTERMAVPFI" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioADAPTERMAVPFI" />
    </bean>
    
    <bean id="jmsTemplateReenvioAE" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioAE" />
    </bean>
    
    <bean id="jmsTemplateReenvioMATCH" class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="pubSubDomain" value="false" />
        <property name="explicitQosEnabled" value="true" />
        <property name="sessionTransacted" value="false" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="defaultDestination" ref="queueReenvioMATCH" />
    </bean>
	
	<bean id="receiverBitacoraConsultaService"
		class="com.indeval.portaldali.middleware.services.advice.ReceiverBitacoraConsultaServiceImpl"
		lazy-init="true">
		<property name="ingresosDao" ref="ingresosDao" />
	</bean>
	
	<bean id="bitacoraConsultaService"
		class="com.indeval.portaldali.middleware.services.advice.BitacoraConsultaServiceImpl"
		lazy-init="true">
		<property name="jmsTemplate" ref="jmsTemplate" />
<!-- 		<property name="nameSendQueue" value="${portalDali.ingresosQueueSend}" /> -->
	</bean>
	
	<!-- Servicio para la consulta de bitacora de pagos referenciados -->
	<bean id="pagosReferenciadosService" class="com.indeval.portaldali.middleware.services.pagosReferenciados.PagosReferenciadosServiceImpl" lazy-init="true">
		<property name="pagoReferenciadoDao" ref="pagoReferenciadoDao" />
	</bean>

	<!-- Servicio para la consulta de cfi -->
	<bean id="cfiService" class="com.indeval.portaldali.middleware.services.cfi.CfiServiceImpl" lazy-init="true">
		<property name="cfiDao" ref="cfiDao" />
	</bean>	
</beans>