<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="captOpConf" class="com.indeval.portaldali.vo.CaptOpsConfig">
        <property name="tiposOperaciones">
            <map>
                <!--entry key="ClaveTipoOperacion:MismoDiaFechavalor[1-MismoDia,0-FechaValor]:CampoHTML" value="[readonly],[rendered]"/-->
                <entry key="C:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="C:1:idReceptor" value="false,true"/>
                <entry key="C:1:folioReceptor" value="false,true"/>
                <entry key="C:1:tasaReferencia" value="false,false"/>
                <entry key="C:1:plazoRepDias" value="flase,true"/>
                <entry key="C:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="C:1:fechaRegreso" value="false,true"/>
                <entry key="C:1:tasaPremio" value="false,true"/>
                <entry key="C:1:precioTitulo" value="false,true"/>
                <entry key="C:1:importe" value="false,true"/>
                <entry key="C:1:premio" value="false,true"/>
                <entry key="C:1:compra" value="false,false"/>
                
                <entry key="C:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="C:0:idReceptor" value="false,true"/>
                <entry key="C:0:folioReceptor" value="false,true"/>
                <entry key="C:0:tasaReferencia" value="false,false"/>
                <entry key="C:0:plazoRepDias" value="flase,true"/>
                <entry key="C:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="C:0:fechaRegreso" value="false,true"/>
                <entry key="C:0:tasaPremio" value="false,true"/>
                <entry key="C:0:precioTitulo" value="false,true"/>
                <entry key="C:0:importe" value="false,true"/>
                <entry key="C:0:premio" value="false,true"/>
                <entry key="C:0:compra" value="false,false"/>
                
                <entry key="F:1:mismoDiaFechaValor" value="true,false"/>
                <entry key="F:1:idReceptor" value="true,true"/>
                <entry key="F:1:folioReceptor" value="true,true"/>
                <entry key="F:1:tasaReferencia" value="true,false"/>
                <entry key="F:1:plazoRepDias" value="true,false"/>
                <entry key="F:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="F:1:fechaRegreso" value="true,false"/>
                <entry key="F:1:tasaPremio" value="true,false"/>
                <entry key="F:1:precioTitulo" value="true,false"/>
                <entry key="F:1:importe" value="true,false"/>
                <entry key="F:1:premio" value="true,false"/>
                <entry key="F:1:compra" value="false,false"/>
                
                <entry key="F:0:mismoDiaFechaValor" value="true,false"/>
                <entry key="F:0:idReceptor" value="true,true"/>
                <entry key="F:0:folioReceptor" value="true,true"/>
                <entry key="F:0:tasaReferencia" value="true,false"/>
                <entry key="F:0:plazoRepDias" value="true,false"/>
                <entry key="F:0:plazoLiquidacionHoras" value="true,false"/>
                <entry key="F:0:fechaRegreso" value="true,false"/>
                <entry key="F:0:tasaPremio" value="true,false"/>
                <entry key="F:0:precioTitulo" value="true,false"/>
                <entry key="F:0:importe" value="true,false"/>
                <entry key="F:0:premio" value="true,false"/>
                <entry key="F:0:compra" value="false,false"/>
                
                <entry key="D:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="D:1:idReceptor" value="false,true"/>
                <entry key="D:1:folioReceptor" value="false,true"/>
                <entry key="D:1:tasaReferencia" value="false,false"/>
                <entry key="D:1:plazoRepDias" value="flase,true"/>
                <entry key="D:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="D:1:fechaRegreso" value="false,true"/>
                <entry key="D:1:tasaPremio" value="false,true"/>
                <entry key="D:1:precioTitulo" value="false,true"/>
                <entry key="D:1:importe" value="false,true"/>
                <entry key="D:1:premio" value="false,true"/>
                <entry key="D:1:compra" value="false,false"/>
                
                <entry key="D:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="D:0:idReceptor" value="false,true"/>
                <entry key="D:0:folioReceptor" value="false,true"/>
                <entry key="D:0:tasaReferencia" value="false,false"/>
                <entry key="D:0:plazoRepDias" value="flase,true"/>
                <entry key="D:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="D:0:fechaRegreso" value="false,true"/>
                <entry key="D:0:tasaPremio" value="false,true"/>
                <entry key="D:0:precioTitulo" value="false,true"/>
                <entry key="D:0:importe" value="false,true"/>
                <entry key="D:0:premio" value="false,true"/>
                <entry key="D:0:compra" value="false,false"/>
                
                <entry key="E:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="E:1:idReceptor" value="false,true"/>
                <entry key="E:1:folioReceptor" value="false,true"/>
                <entry key="E:1:tasaReferencia" value="false,false"/>
                <entry key="E:1:plazoRepDias" value="flase,true"/>
                <entry key="E:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="E:1:fechaRegreso" value="false,true"/>
                <entry key="E:1:tasaPremio" value="false,true"/>
                <entry key="E:1:precioTitulo" value="false,true"/>
                <entry key="E:1:importe" value="false,true"/>
                <entry key="E:1:premio" value="false,true"/>
                <entry key="E:1:compra" value="false,false"/>
                
                <entry key="E:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="E:0:idReceptor" value="false,true"/>
                <entry key="E:0:folioReceptor" value="false,true"/>
                <entry key="E:0:tasaReferencia" value="false,false"/>
                <entry key="E:0:plazoRepDias" value="flase,true"/>
                <entry key="E:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="E:0:fechaRegreso" value="false,true"/>
                <entry key="E:0:tasaPremio" value="false,true"/>
                <entry key="E:0:precioTitulo" value="false,true"/>
                <entry key="E:0:importe" value="false,true"/>
                <entry key="E:0:premio" value="false,true"/>
                <entry key="E:0:compra" value="false,false"/>
                
                <entry key="R:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="R:1:idReceptor" value="false,true"/>
                <entry key="R:1:folioReceptor" value="false,true"/>
                <entry key="R:1:tasaReferencia" value="false,false"/>
                <entry key="R:1:plazoRepDias" value="flase,true"/>
                <entry key="R:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="R:1:fechaRegreso" value="false,true"/>
                <entry key="R:1:tasaPremio" value="false,true"/>
                <entry key="R:1:precioTitulo" value="false,true"/>
                <entry key="R:1:importe" value="false,true"/>
                <entry key="R:1:premio" value="false,true"/>
                <entry key="R:1:compra" value="false,true"/>
                
                <entry key="R:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="R:0:idReceptor" value="false,true"/>
                <entry key="R:0:folioReceptor" value="false,true"/>
                <entry key="R:0:tasaReferencia" value="false,false"/>
                <entry key="R:0:plazoRepDias" value="flase,true"/>
                <entry key="R:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="R:0:fechaRegreso" value="false,true"/>
                <entry key="R:0:tasaPremio" value="false,true"/>
                <entry key="R:0:precioTitulo" value="false,true"/>
                <entry key="R:0:importe" value="false,true"/>
                <entry key="R:0:premio" value="false,true"/>
                <entry key="R:0:compra" value="false,true"/>
                
                <entry key="T:1:mismoDiaFechaValor" value="true,false"/>
                <entry key="T:1:idReceptor" value="false,true"/>
                <entry key="T:1:folioReceptor" value="false,true"/>
                <entry key="T:1:tasaReferencia" value="true,false"/>
                <entry key="T:1:plazoRepDias" value="true,false"/>
                <entry key="T:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="T:1:fechaRegreso" value="true,false"/>
                <entry key="T:1:tasaPremio" value="true,false"/>
                <entry key="T:1:precioTitulo" value="true,false"/>
                <entry key="T:1:importe" value="true,false"/>
                <entry key="T:1:premio" value="true,false"/>
                <entry key="T:1:compra" value="false,false"/>
                
                <entry key="T:0:mismoDiaFechaValor" value="true,false"/>
                <entry key="T:0:idReceptor" value="false,true"/>
                <entry key="T:0:folioReceptor" value="false,true"/>
                <entry key="T:0:tasaReferencia" value="true,false"/>
                <entry key="T:0:plazoRepDias" value="true,false"/>
                <entry key="T:0:plazoLiquidacionHoras" value="true,false"/>
                <entry key="T:0:fechaRegreso" value="true,false"/>
                <entry key="T:0:tasaPremio" value="true,false"/>
                <entry key="T:0:precioTitulo" value="true,false"/>
                <entry key="T:0:importe" value="true,false"/>
                <entry key="T:0:premio" value="true,false"/>
                <entry key="T:0:compra" value="false,false"/>
                
                <entry key="V:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="V:1:idReceptor" value="false,true"/>
                <entry key="V:1:folioReceptor" value="false,true"/>
                <entry key="V:1:tasaReferencia" value="true,false"/>
                <entry key="V:1:plazoRepDias" value="true,false"/>
                <entry key="V:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="V:1:fechaRegreso" value="true,false"/>
                <entry key="V:1:tasaPremio" value="true,false"/>
                <entry key="V:1:precioTitulo" value="true,true"/>
                <entry key="V:1:importe" value="true,true"/>
                <entry key="V:1:premio" value="true,false"/>
                <entry key="V:1:compra" value="false,true"/>
                
                <entry key="V:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="V:0:idReceptor" value="false,true"/>
                <entry key="V:0:folioReceptor" value="false,true"/>
                <entry key="V:0:tasaReferencia" value="true,false"/>
                <entry key="V:0:plazoRepDias" value="true,false"/>
                <entry key="V:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="V:0:fechaRegreso" value="true,false"/>
                <entry key="V:0:tasaPremio" value="true,false"/>
                <entry key="V:0:precioTitulo" value="true,true"/>
                <entry key="V:0:importe" value="true,true"/>
                <entry key="V:0:premio" value="true,false"/>
                <entry key="V:0:compra" value="false,true"/>
                
                <entry key="Y:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="Y:1:idReceptor" value="false,true"/>
                <entry key="Y:1:folioReceptor" value="false,true"/>
                <entry key="Y:1:tasaReferencia" value="false,true"/>
                <entry key="Y:1:plazoRepDias" value="flase,true"/>
                <entry key="Y:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="Y:1:fechaRegreso" value="false,true"/>
                <entry key="Y:1:tasaPremio" value="false,true"/>
                <entry key="Y:1:precioTitulo" value="false,true"/>
                <entry key="Y:1:importe" value="false,true"/>
                <entry key="Y:1:premio" value="false,true"/>
                <entry key="Y:1:compra" value="false,false"/>
                
                <entry key="Y:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="Y:0:idReceptor" value="false,true"/>
                <entry key="Y:0:folioReceptor" value="false,true"/>
                <entry key="Y:0:tasaReferencia" value="false,true"/>
                <entry key="Y:0:plazoRepDias" value="flase,true"/>
                <entry key="Y:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="Y:0:fechaRegreso" value="false,true"/>
                <entry key="Y:0:tasaPremio" value="false,true"/>
                <entry key="Y:0:precioTitulo" value="false,true"/>
                <entry key="Y:0:importe" value="false,true"/>
                <entry key="Y:0:premio" value="false,true"/>
                <entry key="Y:0:compra" value="false,false"/>
                
                <entry key="J:1:mismoDiaFechaValor" value="false,true"/>
                <entry key="J:1:idReceptor" value="false,true"/>
                <entry key="J:1:folioReceptor" value="false,true"/>
                <entry key="J:1:tasaReferencia" value="true,false"/>
                <entry key="J:1:plazoRepDias" value="true,false"/>
                <entry key="J:1:plazoLiquidacionHoras" value="true,false"/>
                <entry key="J:1:fechaRegreso" value="true,false"/>
                <entry key="J:1:tasaPremio" value="true,false"/>
                <entry key="J:1:precioTitulo" value="true,true"/>
                <entry key="J:1:importe" value="true,true"/>
                <entry key="J:1:premio" value="true,false"/>
                <entry key="J:1:compra" value="false,false"/>
                
                <entry key="J:0:mismoDiaFechaValor" value="false,true"/>
                <entry key="J:0:idReceptor" value="false,true"/>
                <entry key="J:0:folioReceptor" value="false,true"/>
                <entry key="J:0:tasaReferencia" value="true,false"/>
                <entry key="J:0:plazoRepDias" value="true,false"/>
                <entry key="J:0:plazoLiquidacionHoras" value="false,true"/>
                <entry key="J:0:fechaRegreso" value="true,false"/>
                <entry key="J:0:tasaPremio" value="true,false"/>
                <entry key="J:0:precioTitulo" value="true,true"/>
                <entry key="J:0:importe" value="true,true"/>
                <entry key="J:0:premio" value="true,false"/>
                <entry key="J:0:compra" value="false,false"/>
            </map>
        </property>
    
<!-- 
 C                   Reporto indices conocidos       3,5,7,10,11           AM      CAPTURA OP MD   
 D                   Reporto en dolares              3,5,7,10,11           AM      CAPTURA OP MD   
 E                   Reporto real                    3,5,7,10,11           AM      CAPTURA OP MD   
 F                   Fondeo cuenta propia            1,8,10,11             AM      CAPTURA OP MD   
 J                   Colocacion primaria o recompra  3,5,7,10,11           AM      CAPTURA OP MD   
 R                   Reporto nominal                 3,5,7,10,11           AM      CAPTURA OP MD    
 T                   Traspaso libre de pago          3,5,7,10,11           AM      CAPTURA OP MD    
 V                   Venta                           3,5,7,10,11           AM      CAPTURA OP MD    
 Y                   Reporto tasa variable           3,5,7,10,11           AM      CAPTURA OP MD    
 L                   Reporto RSP libre de Pago       1,2,3,4,5,6,7,8,9,10  CO      CONSULTA        
 P                   Reporto RSP contra Pago         1,2,3,4,5,6,7,8,9,10  CO      CONSULTA         
 U                   Operaciones de cruce            1,2,3,4,5,6,7,8,9,10  CO      CONSULTA        
 X                   Regreso de reporto              1,2,3,4,5,6,7,8,9,10  CO      CONSULTA         
 M                   Traspaso Misc. Fiscal           3,5,7                 AM      MISCELANEA FISC 
 T                   TLPs                            3,4,5,6,7,8,9,10,11   AM      CAPTURA OP MC   
 T                   Traspaso Contrapago             3,5,7                 AM      CAPTURA OP MC   
 T                   Traspasos Ctas. Activos S.I.    1,8                   AM      CAPTURA OP MC   
 A                   Apertura de Sistema             8,10,11               AM      APERTURA SIST    
-->
        
        
        <property name="tiposOperacionesFirmadas">
        	<set>
        		<value type="java.lang.String">R</value>
        		<value type="java.lang.String">V</value>
        		<value type="java.lang.String">T</value>
                <value type="java.lang.String">C</value>
                <value type="java.lang.String">D</value>
                <value type="java.lang.String">E</value>
                <value type="java.lang.String">F</value>
                <value type="java.lang.String">J</value>
                <value type="java.lang.String">Y</value>
	        </set>
    	</property>
    
    
    </bean>
    
  


</beans>