<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">





	<bean id="servicesCapturaOperacionViewHelper"
		class="com.indeval.portaldali.presentation.helper.ServicesCapturaOperacionViewHelper">
		<property name="fechasUtilService" ref="fechasUtilService"></property>
		<property name="mercadoDineroService"
			ref="mercadoDineroService">
		</property>
		<property name="diaInhabilDao" ref="diaInhabilDao"></property>
	</bean>

	<bean id="calendarDataModel"
		class="com.indeval.portaldali.presentation.util.CalendarDataModelImpl">
		<property name="diaInhabilDao" ref="diaInhabilDao"></property>
	</bean>


	<!--bean id="fileUploadDao"
		class="com.indeval.portaldali.persistence.dao.util.impl.FileUploadDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory">

		</property>
	</bean-->


	<bean id="isoHelp"
		class="com.indeval.portaldali.presentation.helper.IsoHelper">
		<property name="dvpService" ref="traspasoContraPagoService"></property>
		<property name="efectivo" ref="efectivoService"></property>
		<property name="tlpService" ref="traspasoLibrePagoService"></property>
	</bean>

	<!-- Encolador de Mercado de dinero -->
	<bean id="encoladorMDTraspasos"
		class="com.indeval.portaldali.presentation.controller.mercadodinero.fileTransfer.encoladores.EncoladorMDTraspasos">
		<property name="envioOperacionesService"
			ref="envioOperacionesEJB" />
		<property name="isoHelper" ref="isoHelp"></property>
		<property name="utilService" ref="utilServices"></property>
	</bean>

	<!-- Encolador de Mercado de capitales -->
	<bean id="encoladorMCTraspasos"
		class="com.indeval.portaldali.presentation.controller.mercadodinero.fileTransfer.encoladores.EncoladorMCTraspasos">
		<property name="envioOperacionesService"
			ref="envioOperacionesEJB" />
		<property name="isoHelper" ref="isoHelp"></property>
		<property name="utilService" ref="utilServices"></property>
	</bean>

	<!-- Encolador de Tesorerias -->
	<bean id="encoladorTesoDepositos"
		class="com.indeval.portaldali.presentation.controller.mercadodinero.fileTransfer.encoladores.EncoladorDepositosEfectivo">
		<property name="envioOperacionesService"
			ref="envioOperacionesEJB" />
		<property name="isoHelper" ref="isoHelp"></property>
		<property name="utilService" ref="utilServices"></property>
	</bean>
	
	<!-- Encolador de TREF's -->
	<bean id="encoladorTref"
		class="com.indeval.portaldali.presentation.controller.mercadodinero.fileTransfer.encoladores.EncoladorTref">
		<property name="fechasUtilService" ref="fechasUtilService"></property>
		<property name="consultaInstitucionService" ref="consultaInstitucionService"></property>
		<property name="utilService" ref="utilServices"></property>
		<property name="movimientosEfectivoService" ref="movimientosEfectivoService" />
		<property name="isoHelper" ref="isoHelp"></property>
		
		
	</bean>
	
	<!-- Encolador de cuentas banca comercial -->
	<bean id="encoladorCuentasBCOM"
		class="com.indeval.portaldali.presentation.controller.tesoreria.cuentas.fileTransfer.EncoladorCuentasBCOM">
		<property name="isoHelper" ref="isoHelp"></property>
		<property name="utilService" ref="utilServices"></property>
		<property name="admonCuentasService" ref="admonCuentasRetiroEfectivoServiceEJB"></property>
		<property name="consultaCatalogosFacade" ref="consultaCatalogosFacade"></property>
	</bean>
	
	<!-- Encolador de retiros banca comercial -->
	<bean id="encoladorRetirosBCOM"
		class="com.indeval.portaldali.presentation.controller.tesoreria.retiros.fileTransfer.EncoladorRetirosBCOM">
		<property name="isoHelper" ref="isoHelp"></property>
		<property name="utilService" ref="utilServices"></property>
		<property name="admonCuentasService" ref="admonCuentasRetiroEfectivoServiceEJB"></property>
		<property name="consultaCatalogosFacade" ref="consultaCatalogosFacade"></property>
		<property name="estadoInstruccionDaliDAO" ref="estadoInstruccionDAO"></property>
		<property name="admonRetiroEfectivo" ref="admonRetiroEfectivoServiceEJB"></property>
	</bean>

	<!-- Encolador Miscelanea Fiscal -->
	<bean id="encoladorMiscelaneaFiscal" class="com.indeval.portaldali.presentation.controller.fileTransfer.encolador.EncoladorMiscelaneaFiscal">
		<property name="envioOperacionesService" ref="envioOperacionesEJB" />
		<property name="isoHelper" ref="isoHelp" />
		<property name="utilService" ref="utilServices" />
		<property name="fileTransferMisFisService" ref="fileTransferMisFisService" />
	</bean>

	<util:list id="identificadorMercadoCapitales">
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="1"></constructor-arg>
		</bean>

	</util:list>

	<util:list id="identificadorMercadoDinero">
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="2"></constructor-arg>
		</bean>
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="3"></constructor-arg>
		</bean>

	</util:list>

	<util:list id="identificadorTodosLosMercados">
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="1"></constructor-arg>
		</bean>
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="2"></constructor-arg>
		</bean>
		<bean class="java.lang.Long">
			<constructor-arg index="0" value="3"></constructor-arg>
		</bean>

	</util:list>



	<bean id="ejbJndiEnvMensajes" class="java.util.Properties">
	        <constructor-arg>
	            <map>
	                <entry key="java.naming.factory.initial">
	                    <value>weblogic.jndi.WLInitialContextFactory</value>
	                </entry>
					<entry key="java.naming.provider.url">
						<value>${portalDali.smsURLProvider}</value>
					</entry>
					<entry key="java.naming.security.principal">
						<value></value>
					</entry>
					<entry key="java.naming.security.credentials">
						<value></value>
					</entry>
	            </map>
	        </constructor-arg> 
 	</bean>
	
	<jee:jndi-lookup id="avisosService"
		jndi-name="ejb:alertas-services/alertas-serviciosEjb/AvisosService!com.indeval.sms.servicios.AvisosService"
		proxy-interface="com.indeval.sms.servicios.AvisosService"></jee:jndi-lookup>

	<!-- 
 	<bean id="avisosService"
		class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean"
		lazy-init="true">
		<property name="jndiName"           value="ejb/AvisosServiceRemoteHome" />
		<property name="jndiEnvironment"    ref="ejbJndiEnvMensajes" />
		<property name="businessInterface"  value="com.indeval.sms.servicios.AvisosService" />
		<property name="expectedType"       value="com.indeval.sms.services.ejb.AvisosServiceRemoteHome" />
		<property name="lookupHomeOnStartup"  value="false"/>
	</bean>
	-->

</beans>
