<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tareaService" class="com.indeval.portaldali.middleware.services.tarea.TareaServiceImpl">
		<property name="workflowClientService" ref="workflowClientService"></property>
	</bean>
	
	<bean id="workflowClientService" class="com.indeval.portaldali.middleware.services.tarea.WorkflowClientService">
		<property name="url" value="${workflow.authorization.end-point}"></property>
	</bean>

</beans>