<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

<!--     <bean id="ejbEnvironment" class="java.util.Properties"> -->
<!--         <constructor-arg> -->
<!--             <map> -->
<!--                 <entry key="java.naming.factory.initial"> -->
<!--                     <value>weblogic.jndi.WLInitialContextFactory</value> -->
<!--                 </entry> -->
                
<!--             </map> -->
<!--         </constructor-arg> -->

<!--     </bean> -->



    <bean id="mercadoDineroEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.mercadoDinero!com.indeval.portaldali.middleware.services.mercadodinero.MercadoDineroService" />
<!--         <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.mercadodinero.MercadoDineroService"></property>
        <property name="lookupOnStartup" value="false"></property>
    </bean>
    
    <bean id="mercadoCapitalesEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.mercadoCapitales!com.indeval.portaldali.middleware.services.mercadocapitales.MercadoCapitalesService" />
<!--         <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.mercadocapitales.MercadoCapitalesService"></property>
        <property name="lookupOnStartup" value="false"></property>
    </bean>

    <bean id="envioOperacionesEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.envioOperaciones!com.indeval.portaldali.middleware.services.enviooperaciones.EnvioOperacionesService" />
<!--         <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.enviooperaciones.EnvioOperacionesService"></property>
        <property name="lookupOnStartup" value="false"></property>
    </bean>

    <bean id="traspasosAdministrativosEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.traspasosAdministrativos!com.indeval.portaldali.middleware.services.movimientosadministrativos.TraspasosAdministrativosService" />
<!--         <property name="jndiEnvironment" value="ejbEnvironment" /> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.movimientosadministrativos.TraspasosAdministrativosService" />
        <property name="lookupOnStartup" value="false" />
    </bean>
	
	<bean id="utilServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.util!com.indeval.portaldali.middleware.services.util.UtilServices" />
<!--         <property name="jndiEnvironment" value="ejbEnvironment" /> -->
        <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.util.UtilServices" />
        <property name="lookupOnStartup" value="false" />
    </bean>


</beans>