<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">
		
	<bean id="tesoreriaServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.tesoreria!com.indeval.portaldali.middleware.services.tesoreria.TesoreriaService"/>
<!--                 <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
                <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.tesoreria.TesoreriaService"></property>
                <property name="lookupOnStartup" value="false"></property>
    </bean>
    
   	<bean id="admonCuentasRetiroEfectivoServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.cuentasRetiro!com.indeval.portaldali.middleware.services.tesoreria.cuentas.AdministracionCuentasRetiroService"/>
<!--                 <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
                <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.tesoreria.cuentas.AdministracionCuentasRetiroService"></property>
                <property name="lookupOnStartup" value="false"></property>
    </bean>
    
    <bean id="admonRetiroEfectivoServiceEJB" class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="ejb:dali_services/dali_services_ejb//ejb.retiroEfectivo!com.indeval.portaldali.middleware.services.tesoreria.AdmonRetirosEfectivoService"/>
<!--                 <property name="jndiEnvironment" ref="ejbEnvironment"></property> -->
                <property name="proxyInterface" value="com.indeval.portaldali.middleware.services.tesoreria.AdmonRetirosEfectivoService"></property>
                <property name="lookupOnStartup" value="false"></property>
    </bean>

  
 
</beans>